<li class="comment" id="comment_<%= comment.id %>">
  <h3><%= link_to_unless(comment.website == '', comment.name) do |name| name end %> <small><%= time_ago_in_words(comment.created_at) %> ago</small></h3>
  <div class="content"><%= markdown comment.body %></div>
</li>
