section.home {  
  h2 {
    margin-top: 1.7em;
    
    a {
      color: #000;
      
      &:hover {
        color: $link-color;
      }
    }  
  }
  
  ul.movies {
    @include clearfix;
    margin: 0.5em 0;
    
    li {
      float: left;
      margin-right: 20px;
      width: 145px;
      height: 145px;
      
      &:nth-child(2) a {
        background-position: -135px 0;
      }
      
      &:nth-child(3) a {
        background-position: -270px 0;
      }
      
      &:last-child {
        margin-right: 0;
        
        a {
          background-position: -405px 0;
        }
      }
      
      a {
        @include bordered-image;
        text-indent: -9009em;
        width: 135px;
        height: 135px;
        background: url(http://assets.samsoff.es/images/video-thumbnails.jpg) no-repeat;
      }
    }
  }
  
  p.more {
    font-size: 0.8em;
    
    a {
      color: #777;
       
      &:hover {
        color: $link-color;
      }
    }
    
    &.right {
      text-align: right;
    }
  }
  
  a.fc-art {
    width: 300px;
    height: 300px;
    margin-left: 20px;
    float: right;
    
    img {
      width: 300px;
      height: 300px;
    }
  }
  
  div.music {
    @include clearfix;
  }
  
  a.grape-map {
    background-image: url(http://maps.google.com/maps/api/staticmap?center=32.82385,-96.770239&zoom=14&size=630x123&maptype=roadmap&markers=color:green%7C32.82385,-96.770239&sensor=false);
    width: 630px;
    height: 123px;
    text-indent: -9009em;
  }
  
  article {
    padding: 0 0 0 2em;
    margin: 0;
    width: auto;
    color: #777;
    
    em {
      background: transparent;
    }
    
    header {
      h3 {
        margin-bottom: 0.25em;
      }
      
      p {
        font-size: 0.9em;
        margin: 0 0 0.25em;
      }
    }
    
    a {
      color: #777;
      
      &:hover {
        color: $link-color;
      }
    }
    
    p {
      margin-bottom: 0.5em;
      
      &.more {
        margin: 0;
      }
    }
  }
}
