<section class="about">
  <h2>About</h2>

  <a href="http://soffes-assets.s3.amazonaws.com/images/Sam-Soffes.jpg" class="portrait"><img src="http://soffes-assets.s3.amazonaws.com/images/Sam-Soffes.jpg" alt="Sam Soffes"></a>

  <p>I am a <a href="https://github.com/soffes">iOS and Rails software engineer</a>, <a href="/music">musician</a>, <a href="http://dribbble.com/soffes">wanna be designer</a>, and burger connoisseur. I live in San Francisco with my beautiful wife.</p>

  <p>Currently, I'm a freelancer. You can <a href="http://hire.soff.es" rel="external nofollow">hire me</a>.</p>

  <p>When the iPhone SDK first came out in 2008, I wrote this app called <a href="http://youversion.com/mobile">Bible</a> that launched day one of the App Store. There are millions of people using it now, which is really humbling. I used to own a few companies, freelanced, and worked at some startups. Notably, <a href="http://hipstamatic.com">Hipstamatic</a> and <a href="http://scribd.com">Scribd</a>. Recently, I sold an app I built, <a href="https://cheddarapp.com">Cheddar</a>, to some cool folks. <a href="https://twitter.com/intent/tweet?screen_name=soffes">Ask me about it on Twitter</a></a> if you’re curious.</p>

  <p>The best way to get to know me is to listen to <a href="http://5by5.tv/founderstalk/38">part 1</a>, <a href="http://5by5.tv/founderstalk/39">part 2</a>, and <a href="http://5by5.tv/founderstalk/40">part 3</a> of the Founders Talk about my life, <a href="http://nothingmagical.com">Nothing Magical</a>, making <a href="https://cheddarapp.com">Cheddar</a>, and what I’m doing now.</p>

  <p><a href="mailto:sam@soff.es">Email me</a> and say hi if you’re feeling friendly.</p>

  <p style="text-align:center;margin:2em 0 -1em"><a href="https://twitter.com/soffes" class="twitter-follow-button" data-show-count="false" data-size="large">Follow @soffes</a></p>

  <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0];if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src="//platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>
</section>
