<section class="drone">
  <h2>Drone</h2>

  <p>Lately, I've been flying my drone a lot. I'm a big fan. I have a semi-complicated setup. I opted to go this route instead of getting the Vision+ because you can tinker with it a bit more and the GoPro video looks a lot better.</p>

  <p>FPV means first person video. This is a big deal. It lets you see what your drone sees while it's flying. If you want to use a GoPro and get FPV, you have to buy a few accessories. It's not hard to get it all setup and go flying. Probably an hour or two overall.</p>

  <p>Here's my setup:</p>

  <ul class="list">
    <li><a href="http://www.amazon.com/gp/product/B00JFBAT56/ref=as_li_tl?ie=UTF8&camp=1789&creative=9325&creativeASIN=B00JFBAT56&linkCode=as2&tag=nothingmagica-20&linkId=UE35KK5AA5LQ2B5R">DJI Phantom 2 with Zenmuse H3-3D 3-Axis Gimbal</a></li>
    <li><a href="http://www.amazon.com/gp/product/B00F3F0GLU/ref=as_li_tl?ie=UTF8&camp=1789&creative=9325&creativeASIN=B00F3F0GLU&linkCode=as2&tag=nothingmagica-20&linkId=SVGPSHELAVEQE7W6">GoPro HERO3+: Black Edition</a></li>
    <li><a href="http://www.amazon.com/gp/product/B00J4ZYPCG/ref=as_li_tl?ie=UTF8&camp=1789&creative=9325&creativeASIN=B00J4ZYPCG&linkCode=as2&tag=nothingmagica-20&linkId=HDUWWQHKEFDQZKO7">LILLIPUT 7" 329/W FPV Monitor</a></li>
    <li><a href="http://www.amazon.com/gp/product/B00CVQ4FFM/ref=as_li_tl?ie=UTF8&camp=1789&creative=9325&creativeASIN=B00CVQ4FFM&linkCode=as2&tag=nothingmagica-20&linkId=MTRUABXKUQICE2WS">RF Coaxial Right Angle</a></li>
    <li><a href="http://www.amazon.com/gp/product/B00I8UCVZQ/ref=as_li_tl?ie=UTF8&camp=1789&creative=9325&creativeASIN=B00I8UCVZQ&linkCode=as2&tag=nothingmagica-20&linkId=CTXFSCJ3WKJCQRYD">Go Professional Hard Case</a></li>
    <li><a href="http://www.amazon.com/gp/product/B001KELVS0/ref=as_li_tl?ie=UTF8&camp=1789&creative=9325&creativeASIN=B001KELVS0&linkCode=as2&tag=nothingmagica-20&linkId=WK7UO53OBAKWNEPH">Canon LP-E6 Battery Pack</a></li>
    <li><a href="http://www.amazon.com/gp/product/B00FKZZQQS/ref=as_li_tl?ie=UTF8&camp=1789&creative=9325&creativeASIN=B00FKZZQQS&linkCode=as2&tag=nothingmagica-20&linkId=TCL26WMGTBZA5KDA">DJI iOSD mini</a></li>
    <li><a href="http://www.amazon.com/gp/product/B009QZH6JS/ref=as_li_tl?ie=UTF8&camp=1789&creative=9325&creativeASIN=B009QZH6JS&linkCode=as2&tag=nothingmagica-20&linkId=JBKMSBLKRI6KIYQX">SanDisk Ultra 64GB MicroSDXC</a></li>
    <li><a href="http://www.amazon.com/gp/product/B00EYYX9NS/ref=as_li_tl?ie=UTF8&camp=1789&creative=9325&creativeASIN=B00EYYX9NS&linkCode=as2&tag=nothingmagica-20&linkId=G7KVHDZTALT43YHN">NEEWER FPV Monitor Mount</a></li>
    <li><a href="http://www.amazon.com/gp/product/B00HHICQUK/ref=as_li_tl?ie=UTF8&camp=1789&creative=9325&creativeASIN=B00HHICQUK&linkCode=as2&tag=nothingmagica-20&linkId=XPATXSGEMLKPPGXC">DJI AVL58 Video Downlink</a></li>
    <li><a href="http://www.amazon.com/gp/product/B00I82U7YQ/ref=as_li_tl?ie=UTF8&camp=1789&creative=9325&creativeASIN=B00I82U7YQ&linkCode=as2&tag=nothingmagica-20&linkId=RGIKERAYN3QR44RN">DJI Phantom 2 FPV Hub</a></li>
  </ul>

  <h3>Extras</h3>
  <p>Here are a few extra things that I recommend:</p>
  <ul class="list">
    <li><a href="http://www.amazon.com/gp/product/B00GNOMT7Y/ref=as_li_tl?ie=UTF8&camp=1789&creative=9325&creativeASIN=B00GNOMT7Y&linkCode=as2&tag=nothingmagica-20&linkId=RS22JSIIXJU3YS2Y">DJI Phantom 2 Extra Propellers</a></li>
    <li><a href="http://www.amazon.com/gp/product/B00I3J4NG2/ref=as_li_tl?ie=UTF8&camp=1789&creative=9325&creativeASIN=B00I3J4NG2&linkCode=as2&tag=nothingmagica-20&linkId=R7XJRKFD6QOZH766">DJI Battery for Phantom 2</a></li>
    <li><a href="http://www.amazon.com/gp/product/B00I4N7KBW/ref=as_li_tl?ie=UTF8&camp=1789&creative=9325&creativeASIN=B00I4N7KBW&linkCode=as2&tag=nothingmagica-20&linkId=3DGU26NINSW432ZW">DJI Phantom 2 Prop Guards</a></li>
  </ul>

  <p style="color:#999;font-size:0.8em;text-align:center;">All links are Amazon affliate links.</p>

</section>
