<section class="drone">
  <h2>Drone</h2>

  <p>Lately, I've been flying my drone a lot. I'm a big fan. I have a semi-complicated setup. I opted to go this route instead of getting the <a href="http://www.amazon.com/gp/product/B00J8JLOA4/ref=as_li_tl?ie=UTF8&amp;camp=1789&amp;creative=390957&amp;creativeASIN=B00J8JLOA4&amp;linkCode=as2&amp;tag=nothimagic-20&amp;linkId=NHXDF7B6TTOV3USU" rel="external nofollow">Vision+</a> because you can tinker with it a bit more and the <a href="http://www.amazon.com/gp/product/B00F3F0GLU/ref=as_li_tl?ie=UTF8&amp;camp=1789&amp;creative=9325&amp;creativeASIN=B00F3F0GLU&amp;linkCode=as2&amp;tag=nothimagic-20&amp;linkId=SVGPSHELAVEQE7W6" rel="external nofollow">GoPro</a> video looks a lot better.</p>

  <p>FPV means first person video. This is a big deal. It lets you see what your drone sees while it's flying. If you want to use a GoPro and get FPV, you have to buy a few accessories. It's not hard to get it all setup and go flying. Probably an hour or two overall.</p>

  <div class="video" style="margin-bottom:2em">
    <img src="http://placehold.it/16x9">
    <iframe src="//player.vimeo.com/video/95769649?title=0&amp;byline=0&amp;portrait=0" width="640" height="360" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
  </div>

  <p>See <a href="https://vimeo.com/channels/soffesdrone" rel="external nofollow">all of my drone videos on Vimeo</a>.</p>

  <h3>The Setup</h3>

  <ul class="list">
    <li><a href="http://www.amazon.com/gp/product/B00JFBAT56/ref=as_li_tl?ie=UTF8&amp;camp=1789&amp;creative=9325&amp;creativeASIN=B00JFBAT56&amp;linkCode=as2&amp;tag=nothimagic-20&amp;linkId=UE35KK5AA5LQ2B5R" rel="external nofollow">DJI Phantom 2 with Zenmuse H3-3D 3-Axis Gimbal</a> &mdash; Drone and gimble (holds the GoPro)</li>

    <li><a href="http://www.amazon.com/gp/product/B00F3F0GLU/ref=as_li_tl?ie=UTF8&amp;camp=1789&amp;creative=9325&amp;creativeASIN=B00F3F0GLU&amp;linkCode=as2&amp;tag=nothimagic-20&amp;linkId=SVGPSHELAVEQE7W6" rel="external nofollow">GoPro HERO3+: Black Edition</a> &mdash; Awesome camera. I use mine <a href="https://vimeo.com/96054621" rel="external nofollow">without the drone</a> a bunch too.</li>

    <li><a href="http://www.amazon.com/gp/product/B009QZH6JS/ref=as_li_tl?ie=UTF8&amp;camp=1789&amp;creative=9325&amp;creativeASIN=B009QZH6JS&amp;linkCode=as2&amp;tag=nothimagic-20&amp;linkId=JBKMSBLKRI6KIYQX" rel="external nofollow">SanDisk Ultra 64GB MicroSDXC</a> &mdash; Memory card for GoPro</li>

    <li><a href="http://www.amazon.com/gp/product/B00J4ZYPCG/ref=as_li_tl?ie=UTF8&amp;camp=1789&amp;creative=9325&amp;creativeASIN=B00J4ZYPCG&amp;linkCode=as2&amp;tag=nothimagic-20&amp;linkId=HDUWWQHKEFDQZKO7" rel="external nofollow">LILLIPUT 7" 329/W FPV Monitor</a> &mdash; Monitor you mount to the controller</li>

    <li><a href="http://www.amazon.com/gp/product/B001KELVS0/ref=as_li_tl?ie=UTF8&amp;camp=1789&amp;creative=9325&amp;creativeASIN=B001KELVS0&amp;linkCode=as2&amp;tag=nothimagic-20&amp;linkId=WK7UO53OBAKWNEPH" rel="external nofollow">Canon LP-E6 Battery Pack</a> &mdash; Battery for monitor</li>

    <li><a href="http://www.amazon.com/gp/product/B001KBZ3P0/ref=as_li_tl?ie=UTF8&amp;camp=1789&amp;creative=390957&amp;creativeASIN=B001KBZ3P0&amp;linkCode=as2&amp;tag=nothimagic-20&amp;linkId=LAW7HVSVNT57WZXQ">Canon LC-E6 Battery Charger</a> &mdash; Charger for monitor battery</li>

    <li><a href="http://www.amazon.com/gp/product/B00EYYX9NS/ref=as_li_tl?ie=UTF8&amp;camp=1789&amp;creative=9325&amp;creativeASIN=B00EYYX9NS&amp;linkCode=as2&amp;tag=nothimagic-20&amp;linkId=G7KVHDZTALT43YHN" rel="external nofollow">NEEWER FPV Monitor Mount</a> &mdash; Attaches monitor to controller</li>

    <li><a href="http://www.amazon.com/gp/product/B00FKZZQQS/ref=as_li_tl?ie=UTF8&amp;camp=1789&amp;creative=9325&amp;creativeASIN=B00FKZZQQS&amp;linkCode=as2&amp;tag=nothimagic-20&amp;linkId=TCL26WMGTBZA5KDA" rel="external nofollow">DJI iOSD mini</a> &mdash; Puts telemetry data on the video</li>

    <li><a href="http://www.amazon.com/gp/product/B00HHICQUK/ref=as_li_tl?ie=UTF8&amp;camp=1789&amp;creative=9325&amp;creativeASIN=B00HHICQUK&amp;linkCode=as2&amp;tag=nothimagic-20&amp;linkId=XPATXSGEMLKPPGXC" rel="external nofollow">DJI AVL58 Video Downlink</a> &mdash; Trasmit the video from the drone to your monitor</li>

    <li><a href="http://www.amazon.com/gp/product/B00CVQ4FFM/ref=as_li_tl?ie=UTF8&amp;camp=1789&amp;creative=9325&amp;creativeASIN=B00CVQ4FFM&amp;linkCode=as2&amp;tag=nothimagic-20&amp;linkId=MTRUABXKUQICE2WS" rel="external nofollow">RF Coaxial Right Angle</a> &mdash; Improve reception by pointing the antenna down</li>

    <li><a href="http://www.amazon.com/gp/product/B00I82U7YQ/ref=as_li_tl?ie=UTF8&amp;camp=1789&amp;creative=9325&amp;creativeASIN=B00I82U7YQ&amp;linkCode=as2&amp;tag=nothimagic-20&amp;linkId=RGIKERAYN3QR44RN" rel="external nofollow">DJI Phantom 2 FPV Hub</a> &mdash; Connects all of the cables together on your drone</li>
  </ul>

  <h3>Extras</h3>
  <p>Here are a few extra things that I recommend:</p>
  <ul class="list">
    <li><a href="http://www.amazon.com/gp/product/B00I8UCVZQ/ref=as_li_tl?ie=UTF8&amp;camp=1789&amp;creative=9325&amp;creativeASIN=B00I8UCVZQ&amp;linkCode=as2&amp;tag=nothimagic-20&amp;linkId=CTXFSCJ3WKJCQRYD" rel="external nofollow">Go Professional Hard Case</a> &mdash; Case for your investment!</li>

    <li><a href="http://www.amazon.com/gp/product/B00I3J4NG2/ref=as_li_tl?ie=UTF8&amp;camp=1789&amp;creative=9325&amp;creativeASIN=B00I3J4NG2&amp;linkCode=as2&amp;tag=nothimagic-20&amp;linkId=R7XJRKFD6QOZH766" rel="external nofollow">DJI Battery for Phantom 2</a> &mdash; More flying time</li>

    <li><a href="http://www.amazon.com/gp/product/B00GNOMT7Y/ref=as_li_tl?ie=UTF8&amp;camp=1789&amp;creative=9325&amp;creativeASIN=B00GNOMT7Y&amp;linkCode=as2&amp;tag=nothimagic-20&amp;linkId=RS22JSIIXJU3YS2Y" rel="external nofollow">DJI Phantom 2 Extra Propellers</a> &mdash; In case you crash</li>

    <li><a href="http://www.amazon.com/gp/product/B00I4N7KBW/ref=as_li_tl?ie=UTF8&amp;camp=1789&amp;creative=9325&amp;creativeASIN=B00I4N7KBW&amp;linkCode=as2&amp;tag=nothimagic-20&amp;linkId=3DGU26NINSW432ZW" rel="external nofollow">DJI Phantom 2 Prop Guards</a> &mdash; Prevent damaging crashes</li>
  </ul>

  <p style="color:#999;font-size:0.8em;text-align:center;">All links are Amazon affliate links.</p>
</section>
