<section class="home">
  <p>I should put something cool here.</p>
  <p>I'm thinking something like:</p>
  <ul>
    <li>Latest post on Roon</li>
    <li>Featured products</li>
    <li>Recent GitHub projects</li>
    <li>Recent photos from Instagram</li>
    <li>Some facts from Fitbit</li>
  </ul>

  <h3>Apps</h3>
  <p>I started developing for iOS the day the SDK was released way back in 2008. Here are some of the best apps I've worked on. I'm no longer involved in the development of the first four since those belong to previous employers.</p>

  <ul class="apps">
    <li>
      <a href="https://itunes.apple.com/us/app/bible/id282935706" rel="external nofollow" title="Bible">
        <img src="/assets/bible.jpg" alt="Bible">
        <span>Bible</span>
      </a>
    </li>
    <li>
      <a href="https://itunes.apple.com/us/app/x3watch/id337170101" rel="external nofollow" title="X3watch">
        <img src="/assets/x3watch.jpg" alt="X3watch">
        <span>X3watch</span>
      </a>
    </li>
    <li>
      <a href="https://itunes.apple.com/us/app/hipstamatic/id342115564" rel="external nofollow" title="Hipstamatic">
        <img src="/assets/hipstamatic.jpg" alt="Hipstamatic">
        <span>Hipstamatic</span>
      </a>
    </li>
    <li>
      <a href="https://itunes.apple.com/us/app/incredibooth/id378754705" rel="external nofollow" title="IncrediBooth">
        <img src="/assets/incredibooth.jpg" alt="IncrediBooth">
        <span>IncrediBooth</span>
      </a>
    </li>
  </ul>
  <ul class="apps">
    <li>
      <a href="https://itunes.apple.com/us/app/shares/id495399233" rel="external nofollow" title="Shares">
        <img src="/assets/shares.jpg" alt="Shares">
        <span>Shares</span>
      </a>
    </li>
    <li>
      <a href="https://itunes.apple.com/us/app/cheddar/id524382948" rel="external nofollow" title="Cheddar">
        <img src="/assets/cheddar.jpg" alt="Cheddar">
        <span>Cheddar</span>
      </a>
    </li>
    <li>
      <a href="https://itunes.apple.com/us/app/seesaw-for-iphone/id579804370
      " rel="external nofollow" title="Seesaw"><img src="/assets/seesaw.jpg" alt="Seesaw">
      <span>Seesaw</span>
    </a>
  </li>
    <li>
      <a href="https://itunes.apple.com/us/app/roon/id634949849" rel="external nofollow" title="Roon">
        <img src="/assets/roon.jpg" alt="Roon">
        <span>Roon</span>
      </a>
    </li>
  </ul>
</section>
