<section class="home">
  <p>I should put something cool here.</p>
  <p>I'm thinking something like:</p>
  <ul>
    <li>Latest post on Roon</li>
    <li>Featured products</li>
    <li>Recent GitHub projects</li>
    <li>Recent photos from Instagram</li>
    <li>Some facts from Fitbit</li>
    <li>A grid of app icons I've worked on</li>
  </ul>
</section>
