<% content_for :javascripts do %>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.0.2/jquery.min.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/swfobject/2.2/swfobject.js"></script>
<script src="/assets/music.js"></script>
<% end %>

<section class="music">
  <header>
    <h2>Music</h2>
  </header>

  <p>A long time ago, I used to play music a lot. It’s my on and off again attempt to create an album. I’m a major perfectionist and not too happy with any of it. Here's a couple of songs that are really rough.</p>

  <p>Also, <mark>checkout my band, <a href="http://findingchesterfield.com" rel="external nofollow">Finding Chesterfield</a></mark>. We released an album in October 2010. I am way proud of it. You can <a href="http://blog.soff.es/posts/those-were-the-days">read about the history and listen to everything we recorded</a> or <a href="https://soffes-assets.s3.amazonaws.com/music/FindingChesterfield-AThreeDayWalkEP.zip" rel="external nofollow">download our EP for free</a>.</p>

  <p>Here is my music. Songs I like more are at the top. (I like all of the <a href="http://soff.es/posts/those-were-the-days">Finding Chesterfield stuff</a> more than my stuff.)</p>

  <h3>Rough Tracks</h3>
  <ul class="tracks">
    <li>Airports <a href="https://soundcloud.com/soffes/airports" rel="external nofollow">Listen</a></li>
    <li>After The Rain <a href="https://soundcloud.com/soffes/after-the-rain-2" rel="external nofollow">Listen</a></li>
    <li>New Home <a href="https://soundcloud.com/soffes/new-home" rel="external nofollow">Listen</a></li>
    <li>To Wait A Lifetime Intro <a href="https://soundcloud.com/soffes/to-wait-a-lifetime-intro" rel="external nofollow">Listen</a></li>
    <li>Years <a href="https://soundcloud.com/soffes/years" rel="external nofollow">Listen</a></li>
    <li>Discover <a href="https://soundcloud.com/soffes/discover" rel="external nofollow">Listen</a></li>
    <li>Something I Found <a href="https://soundcloud.com/soffes/something-i-found" rel="external nofollow">Listen</a></li>
  </ul>

  <h3>Really Rough Tracks</h3>
  <ul class="tracks">
    <li>Old Tickets <a href="https://soundcloud.com/soffes/old-tickets" rel="external nofollow">Listen</a></li>
    <li>Something I Wish I Had <a href="https://soundcloud.com/soffes/something-i-wish-i-had" rel="external nofollow">Listen</a></li>
  </ul>

  <h3>Noise</h3>
  <ul class="tracks">
    <li>The Rain <a href="https://soundcloud.com/soffes/the-rain-2" rel="external nofollow">Listen</a></li>
  </ul>
</section>
