@import "bourbon";

@mixin bordered-image {
  display: block;
  border: 5px solid #fff;
  @include box-shadow(rgba(0, 0, 0, 0.5) 0 0 3px);
  background: #fff no-repeat;
  
  &:hover {
    @include box-shadow(rgba(0, 0, 0, 1.0) 0 0 3px);
  }
}
