input, textarea {
  font-size: 1em;
}

form dl, form dd {
  margin-bottom: 1em;
}

input[type=text], input[type=password], textarea {
  background-color: white;
  border-color: #666666 #cccccc #cccccc;
  border-style: solid;
  border-width: 1px;
  color: black;
  padding: 2px;
  margin: 1px;
}

input[type=text]:focus, input[type=password]:focus, textarea:focus {
  border: 2px solid #6694e3;
  outline: 0;
  margin: 0;
}

input[type=text].error, input[type=password].error, textarea.error {
  background-color: #fdeeee;
  border-color: #dc4747 #f59e9e #f59e9e;
}

input[type=text].error:focus, input[type=password].error:focus, textarea.error:focus {
  border-color: #dc4747;
}

input[type=text], input[type=password] {
  width: 16em;
}

textarea {
  width: 24em;
  height: 6em;
}

input[type=submit] {
  margin-right: 15px;
}
