div.pagination {
  text-align: center;
  margin: 2em 0;
  a {
    padding: 2px 6px;
    margin-right: 0.2em;
    border: 2px solid #dddddd;
    text-decoration: none; }
  a:hover {
    text-decoration: none;
    background: #2e80d3;
    border-color: #2e80d3;
    color: white;
    text-shadow: none; }
  a.next_page, a.previous_page {
    border: 0; }
  a.next_page:hover, a.previous_page:hover {
    background: none;
    border: 0;
    text-decoration: underline;
    color: #2e80d3; }
  span {
    padding: 2px 6px;
    margin-right: 0.2em;
    border: 2px solid #dddddd; }
  span.gap {
    border: 0;
    padding: 2px; }
  span.disabled {
    color: #aaaaaa;
    border-color: transparent; }
  em {
    padding: 4px 8px; } }
