// Variables
!helvetica = "Helvetica, Arial, sans-serif"
!helvetica_neue = "HelveticaNeue, 'Helvetica Neue', 'Helvetica Neue', Helvetica, Arial, sans-serif"
!helvetica_neue_light = "HelveticaNeue-Light, HelveticaNeue, 'Helvetica Neue Light', 'Helvetica Neue', Helvetica, Arial, sans-serif"
!nilland = "NillandRegular,HelveticaNeue,'Helvetica Neue',Helvetica,Arial,sans-serif"
!link_border_color = #cfdae5
!link_color = #455b75
!link_hover_color = #92abc1
!highligh_color = #fffeca
!code_background_color = #f8f8ff
!code_border_color = #dedede
!orange_color = #f05b35
!blog_color = #e16f09
!music_color = #121212
!about_color = #276abd
!light_blue_color = #01b0f0
!pink_color = #ff358b
!width = 640px

// Mix-ins
=clearAfter()
  clear: both
  content: " "
  display: block
  height: 0
  zoom: 1
