// Variables
$monaco: Monaco, Courier, monospace;
$link-color: #0881b3;
$highligh-color: #fffeca;
$code-background-color: #f8f8ff;
$code-border-color: #dedede;
$orange-color: #f05b35;
$gray-color: #676767;
$width: 640px;
$background-color: #f7f7f7;
$text-color: #222;

// Mix-ins
@mixin clearfix {
  content: ".";
  display: block;
  clear: both;
  visibility: hidden;
  line-height: 0;
  height: 0;
}
