// Fonts
@Helvetica: Helvetica,Arial,sans-serif;
@HelveticaNeue: HelveticaNeue,'Helvetica Neue',Helvetica,Arial,sans-serif;
@HelveticaNeueLight: HelveticaNeue-Light,HelveticaNeue,'Helvetica Neue Light','Helvetica Neue',Helvetica,Arial,sans-serif;
@LucidaGrande: 'Lucida Grande','Lucida Sans Unicode',Arial,Verdana,sans-serif;

// Colors
@textColor: #333;
@linkColor: #2e80d3;
@greenColor: #3aa608;
@darkBrownColor: #9b8969;
@lightBrownColor: #f3f1ed;
@lightGrayColor: #cdcdcd;
@orangeColor: #e87b11;
@blogColor: #e16f09;
@musicColor: #121212;
@aboutColor: #276abd;
@subHeaderColorOne: #2f2f2f;
@subHeaderColorTwo: #34778f;

// Other varibles
@width: 720px;

// Mix-ins
.shadow() {
  text-shadow: #fff 0 1px 0;
}

.clearAfter() {
  clear: both;
  content: " ";
  display: block;
  height: 0;
  zoom: 1;
}
