// Fonts
@helvetica: Helvetica,Arial,sans-serif;
@helvetica_neue: HelveticaNeue,'Helvetica Neue',Helvetica,Arial,sans-serif;
@helvetica_neue_light: HelveticaNeue-Light,HelveticaNeue,'Helvetica Neue Light','Helvetica Neue',Helvetica,Arial,sans-serif;
@lucida_grande: 'Lucida Grande','Lucida Sans Unicode',Arial,Verdana,sans-serif;
@nilland: NillandRegular,HelveticaNeue,'Helvetica Neue',Helvetica,Arial,sans-serif;
@bistro_script: BistroScriptRegular,'Marker Felt',HelveticaNeue,'Helvetica Neue',Helvetica,Arial,sans-serif;

// Colors
@text_color: #333;
@link_color: #455b75;
@link_border_color: #cfdae5;
@link_hover_color: #92abc1;
@orange_color: #f05b35;
@light_blue_color: #01b0f0;
@blue_color: #1267da;
@pink_color: #ff358b;
@blog_color: #e16f09;
@music_color: #121212;
@about_color: #276abd;
@sub_header_color_one: #2f2f2f;
@sub_header_color_two: #34778f;

// Mix_ins
.clear_after() {
  clear: both;
  content: " ";
  display: block;
  height: 0;
  zoom: 1;
}

.shadow(@size: 1px) {
  text-shadow: 0 @size 0 rgba(255, 255, 255, 0.8);
}
