/* line 3, ../../app/stylesheets/partials/_reset.sass */
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, font, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-weight: inherit;
  font-style: inherit;
  font-size: 100%;
  font-family: inherit;
  vertical-align: baseline; }

/* line 14, ../../app/stylesheets/partials/_reset.sass */
body {
  line-height: 1;
  color: black;
  background: white; }

/* line 19, ../../app/stylesheets/partials/_reset.sass */
ol, ul {
  list-style: none; }

/* line 22, ../../app/stylesheets/partials/_reset.sass */
table {
  border-collapse: separate;
  border-spacing: 0; }

/* line 26, ../../app/stylesheets/partials/_reset.sass */
caption, th, td {
  text-align: left;
  font-weight: normal; }

/* line 30, ../../app/stylesheets/partials/_reset.sass */
blockquote:before, blockquote:after, q:before, q:after {
  content: ""; }

/* line 33, ../../app/stylesheets/partials/_reset.sass */
blockquote, q {
  quotes: "" ""; }

@font-face {
  font-family: 'Nilland';
  src: url("/fonts/Nilland.eot");
  src: local('Nilland'), url("/fonts/Nilland.svg#nilland") format('svg'), url("/fonts/Nilland.ttf") format('opentype'); }

@font-face {
  font-family: 'Bistro Script';
  src: url("/fonts/BistroScript.eot");
  src: local('Bistro Script'), url("/fonts/BistroScript.svg#bistroscript") format('svg'), url("/fonts/BistroScript.ttf") format('opentype'); }

/* line 16, ../../app/stylesheets/application.sass */
.clear:after {
  clear: both;
  content: " ";
  display: block;
  height: 0;
  zoom: 1; }

/* line 20, ../../app/stylesheets/application.sass */
body {
  background: #f4f4f3;
  font-size: 17px;
  font-weight: 300; }

/* line 26, ../../app/stylesheets/application.sass */
body * {
  line-height: 1.4em; }

/* line 29, ../../app/stylesheets/application.sass */
body, input, textarea {
  font-family: HelveticaNeue-Light,HelveticaNeue,'Helvetica Neue Light','Helvetica Neue',Helvetica,Arial,sans-serif;
  color: #333333; }

/* line 33, ../../app/stylesheets/application.sass */
a {
  border-bottom: 1px dotted #cfdae5;
  color: #455b75;
  text-decoration: none; }

/* line 38, ../../app/stylesheets/application.sass */
a:hover {
  border-bottom: 1px solid;
  color: #92abc1; }

/* line 42, ../../app/stylesheets/application.sass */
strong {
  font-weight: bold; }

/* line 45, ../../app/stylesheets/application.sass */
em {
  background-color: #fffeca;
  padding: 0 0.2em; }

/* line 49, ../../app/stylesheets/application.sass */
abbr {
  border-bottom: 1px dashed;
  cursor: help; }

/* line 53, ../../app/stylesheets/application.sass */
p {
  line-height: 1.5em;
  margin: 0 0 1em; }

/* line 57, ../../app/stylesheets/application.sass */
blockquote {
  border-left: 5px solid #ddd;
  color: #888;
  margin: 0 0 1em;
  padding-left: 1em; }
  /* line 62, ../../app/stylesheets/application.sass */
  blockquote a {
    color: #888; }

/* line 65, ../../app/stylesheets/application.sass */
small {
  font-size: 0.8em;
  color: #999;
  margin-left: 0.2em; }
  /* line 69, ../../app/stylesheets/application.sass */
  small a {
    color: #444; }
  /* line 71, ../../app/stylesheets/application.sass */
  small a:hover {
    color: #2e80d3; }

/* line 74, ../../app/stylesheets/application.sass */
pre {
  background-color: #f8f8ff;
  border: 1px solid #dedede;
  color: #444;
  font-family: "Bitstream Vera Sans Mono", Courier, monospace;
  font-size: 0.9em;
  line-height: 1.5em;
  margin: 0 0 2em;
  overflow: auto;
  padding: 0.5em; }
  /* line 84, ../../app/stylesheets/application.sass */
  pre code {
    background-color: #f8f8ff;
    border: medium none;
    font-size: 1em;
    padding: 0; }

/* line 90, ../../app/stylesheets/application.sass */
code {
  background-color: #f8f8ff;
  border: 1px solid #dedede;
  color: #444;
  font-size: 0.9em;
  padding: 0 0.2em; }

/* line 97, ../../app/stylesheets/application.sass */
h1 {
  font-family: 'Bistro Script','Marker Felt',HelveticaNeue,'Helvetica Neue',Helvetica,Arial,sans-serif;
  font-size: 68px;
  margin: 50px 0;
  color: #f05b35; }
  /* line 102, ../../app/stylesheets/application.sass */
  h1 a {
    color: #f05b35;
    border: 0; }
  /* line 105, ../../app/stylesheets/application.sass */
  h1 a:hover {
    color: #f05b35;
    border: 0; }

/* line 109, ../../app/stylesheets/application.sass */
h2 {
  background: url('/images/lightning.png') no-repeat 0 17px;
  color: #445b75;
  font-size: 26px;
  font-weight: bold;
  font-family: Nilland,HelveticaNeue,'Helvetica Neue',Helvetica,Arial,sans-serif;
  padding-left: 40px;
  text-transform: lowercase;
  margin-bottom: 4px; }

/* line 120, ../../app/stylesheets/application.sass */
h3 {
  font-size: 1.3em;
  margin-bottom: 0.2em;
  color: #ff358b; }

/* line 125, ../../app/stylesheets/application.sass */
h4 {
  font-size: 0.9em;
  color: #555; }

/* line 130, ../../app/stylesheets/application.sass */
div.flash {
  border: 1px solid;
  font-size: 0.95em;
  padding: 0.75em 1em;
  margin-bottom: 1em; }

/* line 136, ../../app/stylesheets/application.sass */
div.flash.notice {
  background-color: #d4ffd4;
  border-color: #78d478; }

/* line 141, ../../app/stylesheets/application.sass */
div.wrapper {
  text-shadow: #fff 0 1px 0;
  width: 640px;
  margin: 0 auto 30px; }

/* line 146, ../../app/stylesheets/application.sass */
div#border {
  margin-top: 20px;
  border-top: 1px dashed #c0d4e7; }

/* line 150, ../../app/stylesheets/application.sass */
div#header {
  margin: 10px 0 3em;
  line-height: 1em; }
  /* line 153, ../../app/stylesheets/application.sass */
  div#header h1 {
    float: left;
    border: 0;
    padding: 0;
    margin: 0; }
  /* line 158, ../../app/stylesheets/application.sass */
  div#header div {
    float: right; }
  /* line 160, ../../app/stylesheets/application.sass */
  div#header ul {
    font-size: 19px;
    margin: 50px 0 0;
    text-transform: lowercase; }
    /* line 164, ../../app/stylesheets/application.sass */
    div#header ul li {
      float: left;
      list-style: none;
      margin: 0 0 0 1.7em;
      padding: 0; }
      /* line 169, ../../app/stylesheets/application.sass */
      div#header ul li a {
        font-family: Nilland,HelveticaNeue,'Helvetica Neue',Helvetica,Arial,sans-serif;
        background: transparent no-repeat 0 5px;
        padding-left: 22px;
        border: 0; }
    /* line 174, ../../app/stylesheets/application.sass */
    div#header ul .blog a {
      background-image: url('/images/blog.png');
      color: #e16f09; }
    /* line 177, ../../app/stylesheets/application.sass */
    div#header ul .music a {
      background-image: url('/images/music.png');
      color: #121212; }
    /* line 180, ../../app/stylesheets/application.sass */
    div#header ul .about a {
      background-image: url('/images/about.png');
      color: #276abd; }
    /* line 183, ../../app/stylesheets/application.sass */
    div#header ul li:first-child {
      margin-left: 0; }
  /* line 185, ../../app/stylesheets/application.sass */
  div#header h3 {
    font-family: HelveticaNeue-Light,HelveticaNeue,'Helvetica Neue Light','Helvetica Neue',Helvetica,Arial,sans-serif;
    font-size: 15px;
    font-weight: 300;
    margin: 15px 0 0;
    text-align: center;
    padding: 0;
    opacity: 0.7; }
    /* line 193, ../../app/stylesheets/application.sass */
    div#header h3 a {
      color: #2f2f2f;
      border: 0; }
    /* line 196, ../../app/stylesheets/application.sass */
    div#header h3 a.music {
      color: #34778f; }
    /* line 198, ../../app/stylesheets/application.sass */
    div#header h3 a:hover {
      border-bottom: 1px solid; }

/* line 201, ../../app/stylesheets/application.sass */
div#footer {
  color: #aaa;
  margin: 0 auto 2em;
  padding: 0;
  font-size: 0.85em;
  text-align: center; }
  /* line 207, ../../app/stylesheets/application.sass */
  div#footer a {
    color: #aaa; }
  /* line 209, ../../app/stylesheets/application.sass */
  div#footer a:hover {
    color: #92abc1; }

/* line 212, ../../app/stylesheets/application.sass */
.loading {
  display: block;
  background: url('/images/dots-white.gif') no-repeat left;
  padding-left: 29px;
  font-size: 0.9em;
  color: #555;
  width: 21px;
  height: 5px; }

/* line 221, ../../app/stylesheets/application.sass */
div.hd-video {
  background: #ddd;
  padding: 1.5em 0;
  text-align: center; }

/* line 2, ../../app/stylesheets/partials/_form.sass */
form input, form textarea {
  font-size: 1em; }
/* line 4, ../../app/stylesheets/partials/_form.sass */
form dl {
  margin-bottom: 1em; }
/* line 6, ../../app/stylesheets/partials/_form.sass */
form dd {
  margin-bottom: 1em; }
/* line 8, ../../app/stylesheets/partials/_form.sass */
form input.text, form textarea {
  background-color: #fff;
  border-color: #666 #ccc #ccc;
  border-style: solid;
  border-width: 1px;
  color: #000;
  padding: 2px;
  margin: 1px; }
/* line 16, ../../app/stylesheets/partials/_form.sass */
form input.text:focus, form textarea:focus {
  border: 2px solid #6694e3;
  outline: 0;
  margin: 0; }
/* line 20, ../../app/stylesheets/partials/_form.sass */
form input.text.error, form textarea.error {
  background-color: #fdeeee;
  border-color: #dc4747 #f59e9e #f59e9e; }
/* line 23, ../../app/stylesheets/partials/_form.sass */
form input.text.error:focus, form textarea.error:focus {
  border-color: #dc4747; }
/* line 25, ../../app/stylesheets/partials/_form.sass */
form input.text {
  width: 12em; }
/* line 27, ../../app/stylesheets/partials/_form.sass */
form textarea {
  width: 24em;
  height: 6em; }
/* line 30, ../../app/stylesheets/partials/_form.sass */
form input.submit {
  margin-right: 15px; }

/* line 230, ../../app/stylesheets/application.sass */
div.post {
  background: url('/images/dash.png') no-repeat bottom center;
  padding-bottom: 2em;
  margin-bottom: 2em; }
  /* line 234, ../../app/stylesheets/application.sass */
  div.post > h1 {
    margin-bottom: 0; }
  /* line 236, ../../app/stylesheets/application.sass */
  div.post h2 {
    margin-bottom: 12px; }
  /* line 238, ../../app/stylesheets/application.sass */
  div.post p.meta {
    color: #01b0f0;
    margin-bottom: 12px; }
  /* line 241, ../../app/stylesheets/application.sass */
  div.post ul, div.post ol {
    margin: 0 0 2em 0.5em; }
    /* line 243, ../../app/stylesheets/application.sass */
    div.post ul li, div.post ol li {
      margin-left: 1em; }
  /* line 246, ../../app/stylesheets/application.sass */
  div.post ul li {
    list-style: disc; }
  /* line 249, ../../app/stylesheets/application.sass */
  div.post ol li {
    list-style: decimal; }
  /* line 251, ../../app/stylesheets/application.sass */
  div.post div.video {
    background: #fff;
    padding: 20px;
    text-align: center;
    margin-bottom: 1em; }

/* line 259, ../../app/stylesheets/application.sass */
div#comments_container h2.no-comments {
  color: #aaa; }
/* line 261, ../../app/stylesheets/application.sass */
div#comments_container ul {
  margin: 0; }
  /* line 263, ../../app/stylesheets/application.sass */
  div#comments_container ul > li {
    list-style: none;
    padding: 0;
    margin: 0 0 2em; }
    /* line 267, ../../app/stylesheets/application.sass */
    div#comments_container ul > li div.content {
      font-size: 0.9em; }

/* line 270, ../../app/stylesheets/application.sass */
form#new_comment {
  background: #fff;
  padding: 20px; }
  /* line 273, ../../app/stylesheets/application.sass */
  form#new_comment h2 {
    margin-top: 0;
    padding-top: 0; }
  /* line 276, ../../app/stylesheets/application.sass */
  form#new_comment p:last-child {
    margin-bottom: 0; }
  /* line 278, ../../app/stylesheets/application.sass */
  form#new_comment input.submit {
    float: left; }
  /* line 280, ../../app/stylesheets/application.sass */
  form#new_comment .loading {
    float: left;
    margin-top: 10px; }

/* line 285, ../../app/stylesheets/application.sass */
div#music-art {
  width: 300px;
  float: left;
  margin-right: 35px;
  font-size: 0.9em;
  color: #555; }
  /* line 291, ../../app/stylesheets/application.sass */
  div#music-art a.album-art {
    border: 10px solid #fff;
    display: block;
    width: 300px;
    height: 300px;
    margin-bottom: 1em; }
  /* line 297, ../../app/stylesheets/application.sass */
  div#music-art a.album-art:hover {
    border-color: #455b75; }
  /* line 299, ../../app/stylesheets/application.sass */
  div#music-art img {
    width: 300px;
    height: 300px; }
  /* line 302, ../../app/stylesheets/application.sass */
  div#music-art div {
    padding-left: 10px; }

/* line 305, ../../app/stylesheets/application.sass */
div#music-about {
  margin-left: 20px;
  line-height: 1.5em;
  width: 285px;
  float: left; }
  /* line 310, ../../app/stylesheets/application.sass */
  div#music-about p {
    font-size: 0.8em; }

/* line 314, ../../app/stylesheets/application.sass */
div#music h2:first-child {
  margin-top: 0;
  padding-top: 0; }
/* line 317, ../../app/stylesheets/application.sass */
div#music ol {
  margin-bottom: 1em; }
/* line 319, ../../app/stylesheets/application.sass */
div#music li {
  font-size: 1.1em;
  margin-bottom: 0.3em;
  margin-left: 30px; }
/* line 323, ../../app/stylesheets/application.sass */
div#music ol li {
  list-style: decimal; }
/* line 325, ../../app/stylesheets/application.sass */
div#music ul li {
  list-style: disc; }
/* line 327, ../../app/stylesheets/application.sass */
div#music li a {
  font-size: 0.8em;
  margin-left: 6px; }

/* line 331, ../../app/stylesheets/application.sass */
div.soundcloud-player {
  height: 101px;
  margin: 2px 0;
  background: url('/images/dots-white.gif') white no-repeat center;
  width: 245px; }
  /* line 336, ../../app/stylesheets/application.sass */
  div.soundcloud-player > div:first-child {
    padding: 10px; }

/* line 340, ../../app/stylesheets/application.sass */
ul.contact {
  color: #7e8c9c;
  font-size: 15px;
  margin-bottom: 0.5em; }
  /* line 344, ../../app/stylesheets/application.sass */
  ul.contact a {
    color: #7e8c9c;
    border: 0; }
  /* line 347, ../../app/stylesheets/application.sass */
  ul.contact a:hover {
    border-bottom: 1px solid; }
  /* line 349, ../../app/stylesheets/application.sass */
  ul.contact li {
    float: left;
    width: 33%;
    text-align: center; }
    /* line 353, ../../app/stylesheets/application.sass */
    ul.contact li span {
      font-family: 'Bistro Script','Marker Felt',HelveticaNeue,'Helvetica Neue',Helvetica,Arial,sans-serif;
      font-size: 20px;
      text-transform: lowercase;
      position: relative;
      top: -1px; }

/* line 360, ../../app/stylesheets/application.sass */
ul.contact.two li {
  width: 49%; }

/* line 364, ../../app/stylesheets/application.sass */
p.archive {
  font-family: Nilland,HelveticaNeue,'Helvetica Neue',Helvetica,Arial,sans-serif;
  text-align: center;
  text-transform: lowercase; }
  /* line 368, ../../app/stylesheets/application.sass */
  p.archive a, p.archive a:hover {
    border: 0; }

/* line 371, ../../app/stylesheets/application.sass */
ul.archive {
  margin: 1em 0 0 2em; }
  /* line 373, ../../app/stylesheets/application.sass */
  ul.archive li {
    color: #455b75;
    list-style: disc;
    margin-bottom: 1em; }
    /* line 377, ../../app/stylesheets/application.sass */
    ul.archive li span {
      font-size: 0.9em;
      color: #92abc1; }
