/* greatly inspired by Tumblr */

body {
background-color: #1c1c1c;
color: #444;
font-family: "HelveticaNeue-Light","HelveticaNeue",Helvetica,Arial,sans-serif;
}

div#container {
color: #d5d5d5;
width: 450px;
position: absolute;
top: 50%;
left: 50%;
margin: -200px 0 0 -225px;
font-size: 20px;
text-shadow: #000 1px 1px 2px;
}

h1 {
font-size: 34px;
font-weight: bold;
color: #2eb1fc;
}

a {
color: #2eb1fc;
text-decoration: none;
white-space: nowrap;
}

a:hover {
text-decoration: underline;
}
