html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, font, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-weight: inherit;
  font-style: inherit;
  font-size: 100%;
  font-family: inherit;
  vertical-align: baseline;
}

body {
  line-height: 1;
  color: black;
  background: white;
}

ol, ul {
  list-style: none;
}

table {
  border-collapse: separate;
  border-spacing: 0;
}

caption, th, td {
  text-align: left;
  font-weight: normal;
}

blockquote:before, blockquote:after, q:before, q:after {
  content: "";
}

blockquote, q {
  quotes: "" "";
}

.clear:after {
  clear: both;
  content: " ";
  display: block;
  height: 0;
  zoom: 1;
}

div.pagination a, div.pagination span {
  padding: 2px 6px;
  margin-right: 0.2em;
}
div.pagination a {
  border: 1px solid #dddddd;
}
div.pagination a:hover {
  text-decoration: none;
  background: #2e80d3;
  border-color: #2e80d3;
  color: #fff;
}
div.pagination a.next_page, div.pagination a.prev_page {
  border: 0;
}
div.pagination a.next_page:hover, div.pagination a.prev_page:hover {
  background: none;
  border: 0;
  text-decoration: underline;
  color: #2e80d3;
}
div.pagination span {
  border: 1px solid #dddddd;
}
div.pagination span.disabled {
  color: #ccc;
  border-color: transparent;
}
div.pagination span.current {
  color: #333;
  border: 1px solid #999999;
}

body {
  background: #f7f7f7;
}

body * {
  line-height: 1.4em;
}

body, input, textarea {
  font-family: HelveticaNeue-Light, HelveticaNeue, Helvetica Neue Light, Helvetica Neue, Helvetica, Arial, sans-serif;
  font-weight: 300;
}

a {
  color: #2e80d3;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

strong {
  font-weight: bold;
}

em {
  background-color: #fffeca;
  padding: 0 0.2e;
}

abbr {
  border-bottom: 1px dashed;
  cursor: help;
}

p {
  line-height: 1.5em;
  margin: 0 0 1em;
}

blockquote {
  border-left: 5px solid #ddd;
  color: #555;
  margin: 0 0 2em;
  padding-left: 0.6em;
}

small {
  font-size: 0.8em;
  color: #999;
  margin-left: 0.2em;
}
small a {
  color: #444;
}
small a:hover {
  color: #2e80d3;
}

pre {
  background-color: #f8f8ff;
  border: 1px solid #dedede;
  font-size: 0.9em;
  line-height: 1.5em;
  margin: 0 0 2em;
  overflow: auto;
  padding: 0.5em;
}
pre code {
  background-color: #f8f8ff;
  border: medium none;
  font-size: 1em;
  padding: 0;
}

code {
  background-color: #f8f8ff;
  border: 1px solid #dedede;
  color: #444;
  font-size: 0.9em;
  padding: 0 0.2em;
}

h1 {
  border-top: 4px solid #aaa;
  font-size: 1.9em;
  margin-bottom: 0.5em;
  padding-top: 0.5em;
}
h1 a {
  color: #000;
}
h1 a:hover {
  color: #2e80d3;
}

h2 {
  border-top: 4px solid #e0e0e0;
  font-size: 1.5em;
  margin-bottom: 0.5em;
  padding-top: 0.5em;
}
h2 span {
  font-size: 0.9em;
  color: #999;
}

h3 {
  font-size: 1.3em;
  margin-bottom: 0.2em;
}

h4 {
  font-size: 0.9em;
  color: #555;
}

ul, ol {
  margin: 0 0 2em 1.3em;
}
ul li, ol li {
  margin-left: 1em;
}

ul li {
  list-style: disc;
}

ol li {
  list-style: decimal;
}

div#wrapper {
  background: #fff;
  padding: 1em 2em;
  margin: 0 auto 1em;
  width: 40em;
}

div#header p {
  float: left;
}
div#header ul {
  float: right;
  margin: 0;
  padding: 0;
}
div#header li {
  float: left;
  list-style: none;
  margin: 0 0 0 1em;
  padding: 0;
}
div#header li a {
  background: transparent no-repeat top left;
  padding-left: 22px;
}
div#header li.blog a {
  background-image: url(http://assets.samsoffes.com/img/blog.png);
  color: #d57015;
}
div#header li.music a {
  background-image: url(http://assets.samsoffes.com/img/music.png);
  color: #121212;
}
div#header li.about a {
  background-image: url(http://assets.samsoffes.com/img/about.png);
  color: #276abd;
}

div#footer {
  padding: 0 1em;
  margin: 0 auto 1em;
  width: 40em;
}
div#footer p {
  font-size: 0.9em;
}

div.post {
  margin-bottom: 2em;
}

.loading {
  background: url(http://assets.samsoffes.com/img/dots-white.gif) no-repeat left;
  padding-left: 29px;
  font-size: 0.9em;
  color: #555;
}

div.hd-video {
  background: #ddd;
  padding: 1.5em 0;
  text-align: center;
}

div.pagination {
  margin: 1em 0;
}
div.pagination a.prev {
  float: left;
}
div.pagination a.next {
  float: right;
}

div.development {
  background: #f8f28c;
  border-bottom: 2px solid #f8e03f;
  padding: 1em;
  margin: 0 0 2em;
  text-align: center;
}
div.development p {
  margin: 0;
}

form input, form textarea {
  font-size: 1em;
}
form dl {
  margin-bottom: 1em;
}
form dd {
  margin-bottom: 1em;
}
form input.text, form textarea {
  background-color: #fff;
  border-color: #666 #ccc #ccc;
  border-style: solid;
  border-width: 1px;
  color: #000;
  padding: 2px;
  margin: 1px;
}
form input.text:focus, form textarea:focus {
  border: 2px solid #6694e3;
  outline: 0;
  margin: 0;
}
form input.text {
  width: 12em;
}
form textarea {
  width: 24em;
  height: 6em;
}
form input.submit {
  margin-right: 15px;
}

div.post > h1 {
  margin-bottom: 0;
}
div.post p.meta {
  color: #999;
  font-size: 0.9em;
  margin-bottom: 0.7em;
}
div.post p.meta a {
  color: #999;
}

div.comments h2.no-comments {
  color: #aaa;
}
div.comments ul {
  margin: 0;
}
div.comments ul > li {
  list-style: none;
  padding: 0;
  margin: 0 0 2em;
}
div.comments ul > li div.content {
  font-size: 0.9em;
}

div#music-art {
  border: 10px solid #e7e7e7;
  width: 300px;
  height: 300px;
  float: left;
  margin-right: 1em;
}

div#music-about {
  margin-left: 1em;
  line-height: 1.5em;
  width: 288px;
  float: left;
}
div#music-about ol {
  margin-bottom: 30px;
}
div#music-about p {
  font-size: 0.8em;
}

div#music li {
  font-size: 1.1em;
  margin-bottom: 0.3em;
  margin-left: 30px;
}
div#music ol li {
  list-style: decimal;
}
div#music ul li {
  list-style: disc;
}
div#music li span {
  font-size: 0.8em;
  margin-left: 6px;
}
div#music ul.links {
  margin: 0;
  font-size: 0.9em;
}
div#music ul.links li {
  margin: 0 0 1em;
  list-style: none;
}

a.podcast-link {
  background: url(http://assets.samsoffes.com/img/podcast-30x30.png) no-repeat 2px 0;
  padding: 0 0 0 40px;
  text-decoration: none;
}

a.soundcloud-link {
  background: url(http://assets.samsoffes.com/img/soundcloud.png) no-repeat 0 5px;
  padding: 0 0 0 40px;
  text-decoration: none;
}

div.soundcloud-player {
  height: 81px;
  margin: 2px 0;
  background: url(http://assets.samsoffes.com/img/indicator.gif) #eeeeee no-repeat center;
  padding: 6px 10px 10px;
  width: 355px;
}
