/* line 3, ../../app/stylesheets/_reset.sass */
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, font, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-weight: inherit;
  font-style: inherit;
  font-size: 100%;
  font-family: inherit;
  vertical-align: baseline;
}

/* line 14, ../../app/stylesheets/_reset.sass */
body {
  line-height: 1;
  color: black;
  background: white;
}

/* line 19, ../../app/stylesheets/_reset.sass */
ol, ul {
  list-style: none;
}

/* line 22, ../../app/stylesheets/_reset.sass */
table {
  border-collapse: separate;
  border-spacing: 0;
}

/* line 26, ../../app/stylesheets/_reset.sass */
caption, th, td {
  text-align: left;
  font-weight: normal;
}

/* line 30, ../../app/stylesheets/_reset.sass */
blockquote:before, blockquote:after, q:before, q:after {
  content: "";
}

/* line 33, ../../app/stylesheets/_reset.sass */
blockquote, q {
  quotes: "" "";
}

/* line 25, ../../app/stylesheets/screen.sass */
.clear:after {
  clear: both;
  content: " ";
  display: block;
  height: 0;
  zoom: 1;
}

/* line 33, ../../app/stylesheets/screen.sass */
body {
  background: #f4f4f3;
  color: #455b75;
  font-size: 17px;
  font-weight: 300;
}

/* line 40, ../../app/stylesheets/screen.sass */
body * {
  line-height: 1.4em;
}

/* line 43, ../../app/stylesheets/screen.sass */
body, input, textarea {
  font-family: HelveticaNeue-Light,HelveticaNeue,'Helvetica Neue Light','Helvetica Neue',Helvetica,Arial,sans-serif;
  color: #333;
}

/* line 47, ../../app/stylesheets/screen.sass */
a {
  border-bottom: 1px dotted #cfdae5;
  color: #455b75;
  text-decoration: none;
}

/* line 52, ../../app/stylesheets/screen.sass */
a:hover {
  border-bottom: 1px solid;
  color: #92abc1;
}

/* line 56, ../../app/stylesheets/screen.sass */
strong {
  font-weight: bold;
}

/* line 59, ../../app/stylesheets/screen.sass */
em {
  background-color: #fffeca;
  padding: 0 0.2em;
}

/* line 63, ../../app/stylesheets/screen.sass */
abbr {
  border-bottom: 1px dashed;
  cursor: help;
}

/* line 67, ../../app/stylesheets/screen.sass */
p {
  line-height: 1.5em;
  margin: 0 0 1em;
}

/* line 71, ../../app/stylesheets/screen.sass */
blockquote {
  border-left: 5px solid #ddd;
  color: #888;
  margin: 0 0 1em;
  padding-left: 1em;
}

/* line 77, ../../app/stylesheets/screen.sass */
small {
  font-size: 0.8em;
  color: #999;
  margin-left: 0.2em;
}
/* line 81, ../../app/stylesheets/screen.sass */
small a {
  color: #444;
}
/* line 83, ../../app/stylesheets/screen.sass */
small a:hover {
  color: #2e80d3;
}

/* line 86, ../../app/stylesheets/screen.sass */
pre {
  background-color: #f8f8ff;
  border: 1px solid #dedede;
  color: #444;
  font-size: 0.9em;
  line-height: 1.5em;
  margin: 0 0 2em;
  overflow: auto;
  padding: 0.5em;
}
/* line 95, ../../app/stylesheets/screen.sass */
pre code {
  background-color: #f8f8ff;
  border: medium none;
  font-size: 1em;
  padding: 0;
}

/* line 101, ../../app/stylesheets/screen.sass */
code {
  background-color: #f8f8ff;
  border: 1px solid #dedede;
  color: #444;
  font-size: 0.9em;
  padding: 0 0.2em;
}

/* line 108, ../../app/stylesheets/screen.sass */
h1 {
  font-size: 68px;
  margin: 50px 0;
  color: #f05b35;
}
/* line 112, ../../app/stylesheets/screen.sass */
h1 a {
  color: #f05b35;
  border: 0;
}
/* line 115, ../../app/stylesheets/screen.sass */
h1 a:hover {
  color: #f05b35;
  border: 0;
}

/* line 119, ../../app/stylesheets/screen.sass */
h2 {
  background: url('/images/lightning.png?1252438912') no-repeat 0 17px;
  color: #445b75;
  font-size: 26px;
  font-weight: bold;
  padding-left: 40px;
  text-transform: lowercase;
  margin-bottom: 4px;
}

/* line 129, ../../app/stylesheets/screen.sass */
h3 {
  font-size: 1.3em;
  margin-bottom: 0.2em;
  color: #ff358b;
}

/* line 134, ../../app/stylesheets/screen.sass */
h4 {
  font-size: 0.9em;
  color: #555;
}

/* line 139, ../../app/stylesheets/screen.sass */
div.flash {
  border: 1px solid;
  font-size: 0.95em;
  padding: 0.75em 1em;
  margin-bottom: 1em;
}

/* line 145, ../../app/stylesheets/screen.sass */
div.flash.notice {
  background-color: #d4ffd4;
  border-color: #78d478;
}

/* line 150, ../../app/stylesheets/screen.sass */
div.wrapper {
  text-shadow: #fff 0 1px 0;
  width: 640px;
  margin: 0 auto 30px;
}

/* line 155, ../../app/stylesheets/screen.sass */
div#border {
  margin-top: 20px;
  border-top: 1px dashed #c0d4e7;
}

/* line 159, ../../app/stylesheets/screen.sass */
div#header {
  margin: 10px 0 3em;
  line-height: 1em;
}
/* line 162, ../../app/stylesheets/screen.sass */
div#header h1 {
  float: left;
  border: 0;
  padding: 0;
  margin: 0;
}
/* line 167, ../../app/stylesheets/screen.sass */
div#header div {
  float: right;
}
/* line 169, ../../app/stylesheets/screen.sass */
div#header ul {
  font-size: 19px;
  margin: 50px 0 0;
  text-transform: lowercase;
}
/* line 173, ../../app/stylesheets/screen.sass */
div#header ul li {
  float: left;
  list-style: none;
  margin: 0 0 0 1.7em;
  padding: 0;
}
/* line 178, ../../app/stylesheets/screen.sass */
div#header ul li a {
  background: transparent no-repeat 0 5px;
  padding-left: 22px;
  border: 0;
}
/* line 182, ../../app/stylesheets/screen.sass */
div#header ul .blog a {
  background-image: url('/images/blog.png?1252438994');
  color: #e16f09;
}
/* line 185, ../../app/stylesheets/screen.sass */
div#header ul .music a {
  background-image: url('/images/music.png?1252438994');
  color: #121212;
}
/* line 188, ../../app/stylesheets/screen.sass */
div#header ul .about a {
  background-image: url('/images/about.png?1252438994');
  color: #276abd;
}
/* line 191, ../../app/stylesheets/screen.sass */
div#header ul li:first-child {
  margin-left: 0;
}
/* line 193, ../../app/stylesheets/screen.sass */
div#header h3 {
  font-family: HelveticaNeue-Light,HelveticaNeue,'Helvetica Neue Light','Helvetica Neue',Helvetica,Arial,sans-serif;
  font-size: 15px;
  font-weight: 300;
  margin: 15px 0 0;
  text-align: center;
  padding: 0;
  opacity: 0.7;
}
/* line 201, ../../app/stylesheets/screen.sass */
div#header h3 a {
  color: #2f2f2f;
  border: 0;
}
/* line 204, ../../app/stylesheets/screen.sass */
div#header h3 a.music {
  color: #34778f;
}
/* line 206, ../../app/stylesheets/screen.sass */
div#header h3 a:hover {
  border-bottom: 1px solid;
}

/* line 209, ../../app/stylesheets/screen.sass */
div#footer {
  color: #aaa;
  margin: 0 auto 2em;
  padding: 0;
  font-size: 0.85em;
  text-align: center;
}
/* line 215, ../../app/stylesheets/screen.sass */
div#footer a {
  color: #aaa;
}
/* line 217, ../../app/stylesheets/screen.sass */
div#footer a:hover {
  color: #92abc1;
}

/* line 220, ../../app/stylesheets/screen.sass */
.loading {
  display: block;
  background: url('/images/dots-white.gif?1252438994') no-repeat left;
  padding-left: 29px;
  font-size: 0.9em;
  color: #555;
  width: 21px;
  height: 5px;
}

/* line 229, ../../app/stylesheets/screen.sass */
div.hd-video {
  background: #ddd;
  padding: 1.5em 0;
  text-align: center;
}

/* line 236, ../../app/stylesheets/screen.sass */
form input, form textarea {
  font-size: 1em;
}
/* line 238, ../../app/stylesheets/screen.sass */
form dl {
  margin-bottom: 1em;
}
/* line 240, ../../app/stylesheets/screen.sass */
form dd {
  margin-bottom: 1em;
}
/* line 242, ../../app/stylesheets/screen.sass */
form input.text, form textarea {
  background-color: #fff;
  border-color: #666 #ccc #ccc;
  border-style: solid;
  border-width: 1px;
  color: #000;
  padding: 2px;
  margin: 1px;
}
/* line 250, ../../app/stylesheets/screen.sass */
form input.text:focus, form textarea:focus {
  border: 2px solid #6694e3;
  outline: 0;
  margin: 0;
}
/* line 254, ../../app/stylesheets/screen.sass */
form input.text.error, form textarea.error {
  background-color: #fdeeee;
  border-color: #dc4747 #f59e9e #f59e9e;
}
/* line 257, ../../app/stylesheets/screen.sass */
form input.text.error:focus, form textarea.error:focus {
  border-color: #dc4747;
}
/* line 259, ../../app/stylesheets/screen.sass */
form input.text {
  width: 12em;
}
/* line 261, ../../app/stylesheets/screen.sass */
form textarea {
  width: 24em;
  height: 6em;
}
/* line 264, ../../app/stylesheets/screen.sass */
form input.submit {
  margin-right: 15px;
}

/* line 268, ../../app/stylesheets/screen.sass */
div.post {
  background: url('/images/dash.png?1252438994') no-repeat bottom center;
  padding-bottom: 2em;
  margin-bottom: 2em;
}
/* line 272, ../../app/stylesheets/screen.sass */
div.post > h1 {
  margin-bottom: 0;
}
/* line 274, ../../app/stylesheets/screen.sass */
div.post h2 {
  margin-bottom: 12px;
}
/* line 276, ../../app/stylesheets/screen.sass */
div.post p.meta {
  color: #01b0f0;
  margin-bottom: 12px;
}
/* line 279, ../../app/stylesheets/screen.sass */
div.post ul, div.post ol {
  margin: 0 0 2em 0.5em;
}
/* line 281, ../../app/stylesheets/screen.sass */
div.post ul li, div.post ol li {
  margin-left: 1em;
}
/* line 284, ../../app/stylesheets/screen.sass */
div.post ul li {
  list-style: disc;
}
/* line 287, ../../app/stylesheets/screen.sass */
div.post ol li {
  list-style: decimal;
}

/* line 292, ../../app/stylesheets/screen.sass */
div#comments_container h2.no-comments {
  color: #aaa;
}
/* line 294, ../../app/stylesheets/screen.sass */
div#comments_container ul {
  margin: 0;
}
/* line 296, ../../app/stylesheets/screen.sass */
div#comments_container ul > li {
  list-style: none;
  padding: 0;
  margin: 0 0 2em;
}
/* line 300, ../../app/stylesheets/screen.sass */
div#comments_container ul > li div.content {
  font-size: 0.9em;
}

/* line 303, ../../app/stylesheets/screen.sass */
form#new_comment {
  background: #fff;
  padding: 20px;
}
/* line 306, ../../app/stylesheets/screen.sass */
form#new_comment h2 {
  margin-top: 0;
  padding-top: 0;
}
/* line 309, ../../app/stylesheets/screen.sass */
form#new_comment p:last-child {
  margin-bottom: 0;
}
/* line 311, ../../app/stylesheets/screen.sass */
form#new_comment input.submit {
  float: left;
}
/* line 313, ../../app/stylesheets/screen.sass */
form#new_comment .loading {
  float: left;
  margin-top: 10px;
}

/* line 318, ../../app/stylesheets/screen.sass */
div#music-art {
  width: 300px;
  float: left;
  margin-right: 35px;
  font-size: 0.9em;
  color: #555;
}
/* line 324, ../../app/stylesheets/screen.sass */
div#music-art a.album-art {
  border: 10px solid #fff;
  display: block;
  width: 300px;
  height: 300px;
  margin-bottom: 1em;
}
/* line 330, ../../app/stylesheets/screen.sass */
div#music-art a.album-art:hover {
  border-color: #455b75;
}
/* line 332, ../../app/stylesheets/screen.sass */
div#music-art img {
  width: 300px;
  height: 300px;
}
/* line 335, ../../app/stylesheets/screen.sass */
div#music-art div {
  padding-left: 10px;
}

/* line 338, ../../app/stylesheets/screen.sass */
div#music-about {
  margin-left: 20px;
  line-height: 1.5em;
  width: 285px;
  float: left;
}
/* line 343, ../../app/stylesheets/screen.sass */
div#music-about p {
  font-size: 0.8em;
}

/* line 347, ../../app/stylesheets/screen.sass */
div#music h2:first-child {
  margin-top: 0;
  padding-top: 0;
}
/* line 350, ../../app/stylesheets/screen.sass */
div#music ol {
  margin-bottom: 1em;
}
/* line 352, ../../app/stylesheets/screen.sass */
div#music li {
  font-size: 1.1em;
  margin-bottom: 0.3em;
  margin-left: 30px;
}
/* line 356, ../../app/stylesheets/screen.sass */
div#music ol li {
  list-style: decimal;
}
/* line 358, ../../app/stylesheets/screen.sass */
div#music ul li {
  list-style: disc;
}
/* line 360, ../../app/stylesheets/screen.sass */
div#music li a {
  font-size: 0.8em;
  margin-left: 6px;
}

/* line 364, ../../app/stylesheets/screen.sass */
div.soundcloud-player {
  height: 101px;
  margin: 2px 0;
  background: url('/images/dots-white.gif?1252438994') white no-repeat center;
  width: 245px;
}
/* line 369, ../../app/stylesheets/screen.sass */
div.soundcloud-player > div:first-child {
  padding: 10px;
}

/* line 373, ../../app/stylesheets/screen.sass */
ul.contact {
  color: #7e8c9c;
  font-size: 15px;
  margin-bottom: 0.5em;
}
/* line 377, ../../app/stylesheets/screen.sass */
ul.contact a {
  color: #7e8c9c;
  border: 0;
}
/* line 380, ../../app/stylesheets/screen.sass */
ul.contact a:hover {
  border-bottom: 1px solid;
}
/* line 382, ../../app/stylesheets/screen.sass */
ul.contact li {
  float: left;
  width: 33%;
  text-align: center;
}
/* line 386, ../../app/stylesheets/screen.sass */
ul.contact li span {
  font-size: 22px;
  text-transform: lowercase;
  position: relative;
  top: -1px;
}

/* line 392, ../../app/stylesheets/screen.sass */
ul.contact.two li {
  width: 49%;
}

/* line 399, ../../app/stylesheets/screen.sass */
div.pagination {
  text-align: center;
}
/* line 401, ../../app/stylesheets/screen.sass */
div.pagination a, div.pagination span {
  padding: 2px 6px;
  margin-right: 0.2em;
}
/* line 404, ../../app/stylesheets/screen.sass */
div.pagination a {
  border: 2px solid #bbbbbb;
}
/* line 406, ../../app/stylesheets/screen.sass */
div.pagination a:hover {
  text-decoration: none;
  background: #455b75;
  border-color: #455b75;
  color: #fff;
  text-shadow: none;
}
/* line 412, ../../app/stylesheets/screen.sass */
div.pagination a.next_page, div.pagination a.prev_page {
  border: 0;
}
/* line 414, ../../app/stylesheets/screen.sass */
div.pagination a.next_page:hover, div.pagination a.prev_page:hover {
  background: none;
  border: 0;
  text-decoration: underline;
  color: #455b75;
}
/* line 419, ../../app/stylesheets/screen.sass */
div.pagination span {
  border: 2px solid #bbbbbb;
}
/* line 421, ../../app/stylesheets/screen.sass */
div.pagination span.disabled {
  color: #ccc;
  border-color: transparent;
}
/* line 424, ../../app/stylesheets/screen.sass */
div.pagination span.current {
  background: #eee;
  color: #333;
  border: 2px solid white;
}
