/* @override http://new.samsoff.es/css/style.css?1 */

/* @group Reset */

html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, font, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td {
	margin: 0;
	padding: 0;
	border: 0;
	outline: 0;
	font-weight: inherit;
	font-style: inherit;
	font-size: 100%;
	font-family: inherit;
	vertical-align: baseline;
}

body {
	line-height: 1;
	color: black;
	background: white;
}

ol, ul {
	list-style: none;
}

table {
	border-collapse: separate;
	border-spacing: 0;
}

caption, th, td {
	text-align: left;
	font-weight: normal;
}

blockquote:before, blockquote:after, q:before, q:after {
	content: "";
}

blockquote,q {
	quotes: "" "";
}

/* @end */

/* @group General */

body {
	padding: 1em 2em;
	margin: 0 auto;
	width: 50em;
}

body * {
	line-height: 1.4em;
}

body, input, textarea {
	font-family: "HelveticaNeue-Light","HelveticaNeue",Helvetica,Arial,sans-serif;
}

a {
	color: #2e80d3;
	text-decoration: none;
}

a:hover {
	text-decoration: underline;
}

strong {
	font-weight: bold;
}

em {
	background-color: #fffeca;
	/*font-style: italic;*/
	padding: 0 0.2em;
}

abbr {
	border-bottom: 1px dashed;
	cursor: help;
}

p {
	line-height: 1.5em;
	margin: 0 0 1em;
}

blockquote {
	border-left: 5px solid #ddd;
	color: #555;
	margin: 0 0 2em;
	padding-left: 0.6em;
}

small {
	font-size: 0.8em;
	color: #999;
	margin-left: 0.2em;
}

small a {
	color: #444;
}

small a:hover {
	color: #2e80d3;
}

pre {
	background-color: #f8f8ff;
	border: 1px solid #dedede;
	color:#444;
	font-size: 0.9em;
	line-height: 1.5em;
	margin: 0 0 2em;
	overflow: auto;
	padding: 0.5em;
}

pre code {
	background-color: #f8f8ff;
	border: medium none;
	font-size: 1em;
	padding: 0;
}

code {
	background-color: #f8f8ff;
	border: 1px solid #dedede;
	color: #444;
	font-size: 0.9em;
	padding: 0 0.2em;
}

h1 {
	border-top: 4px solid #aaa;
	font-size: 1.9em;
	margin-bottom: 0.5em;
	padding-top: 0.5em;
}

h2 {
	border-top: 4px solid #e0e0e0;
	font-size: 1.5em;
	margin-bottom: 0.5em;
	padding-top: 0.5em;
}

h3 {
	font-size: 1.3em;
	margin-bottom: 0.2em;
}

h4 {
	font-size: 0.9em;
	color: #555;
}

ul {
	margin: 0 0 2em 1.3em;
}

li {
	list-style: disc;
	margin-left: 1em;
}

/* @end */

div.post {
	margin-bottom: 2em;
}

/* @group Form */

form input, form textarea {
	font-size: 1em;
}

form dl {
	margin-bottom: 1em;
}

form dd {
	margin-bottom: 1em;
}

form input.text, form textarea {
	background-color: #fff;
	border-color: #666 #ccc #ccc;
	border-style: solid;
	border-width: 1px;
	color: #000;
	padding: 2px;
	margin: 1px;
}

form input.text:focus, form textarea:focus {
	border: 2px solid #6694e3;
	outline: 0;
	margin: 0;
}

form input.text {
	width: 12em;
}

form textarea {
	width: 24em;
	height: 6em;
}

/* @end */

/* @group Posts */

div.post > h1 {
	margin-bottom: 0;
}

div.post p.meta {
	color: #999;
	font-size: 0.9em;
	margin-bottom: 0.7em;
}

div.post p.meta a {
	color: #999;
}

/* @end */

/* @group Comments */

div.comments ul {
	margin: 0;
}

div.comments ul > li {
	list-style: none;
	padding: 0;
	margin: 0 0 2em;
}

/* @end */

