<div id="footer">
	<p class="clear">
	    <span>Copyright <%= link_to 'Sam Soffes', home_path %> 2005-2009.</span>
	    <span><a href="http://github.com/samsoffes/samsoff.es" target="_blank" rel="external nofollow">View source on GitHub</a>.</span>
  </p>
</div>
<% if ENV['RAILS_ENV'] == 'production' %>
<script type="text/javascript">
var gaJsHost = (("https:" == document.location.protocol) ? "https://ssl." : "http://www.");
document.write(unescape("%3Cscript src='" + gaJsHost + "google-analytics.com/ga.js' type='text/javascript'%3E%3C/script%3E"));
</script>
<script type="text/javascript">
try {
var pageTracker = _gat._getTracker("UA-5609322-1");
pageTracker._trackPageview();
} catch(err) {}</script>
<% end %>
<% if request.user_agent.include?("iPhone") %>
<%= javascript_include_tag "iphone" %>
<% end -%>
