// My simple reset
@import reset.sass

// Easy clear
.clear:after
	clear: both
	content: " "
	display: block
	height: 0
	zoom: 1
	
!HelveticaNeueLight = "HelveticaNeue-Light","HelveticaNeue","Helvetica Neue Light","Helvetica Neue","Helvetica","Arial","sans-serif"
