@import "partials/reset";
@import "partials/shared";
 
// Easy clear
.clear:after {
  .clear-after();
}

// Fonts
@font-face {
  font-family: 'NillandRegular';
  src: url('/fonts/Nilland.eot');
  src: local('Nilland Regular'), local('Nilland'), url('/fonts/Nilland.woff') format('woff'), url('/fonts/Nilland.ttf') format('truetype'), url('/fonts/Nilland.svg#Nilland') format('svg');
}

@font-face {
  font-family: 'BistroScriptRegular';
  src: url('/fonts/BistroScript.eot');
  src: local('Bistro Script Regular'), local('BistroScript'), url('/fonts/BistroScript.woff') format('woff'), url('/fonts/BistroScript.ttf') format('truetype'), url('/fonts/BistroScript.svg#BistroScript') format('svg');
}

// General
body {
  background: #f4f4f3;
  font-size: 17px;
  font-weight: 300;
}

body * {
  line-height: 1.4em;
}

body, input, textarea {
  font-family: @helvetica-neue-light;
  color: @text-color;
}

a { 
  border-bottom: 1px dotted @link-border-color;
  color: @link-color;
  text-decoration: none;
}

a:hover {
  border-bottom: 1px solid;
  color: @link-hover-color;
}

strong {
  font-weight: bold;
}

em {
  background-color: #fffeca;
  padding: 0 0.2em;
}

abbr {
  border-bottom: 1px dashed;
  cursor: help;
}

p {
  line-height: 1.5em;
  margin: 0 0 1em;
}

blockquote {
  border-left: 5px solid #ddd;
  color: #888;
  margin: 0 0 1em;
  padding-left: 1em;
  
  a {
    color: #888;
  }
}

small {
  font-size: 0.8em;
  color: #999;
  margin-left: 0.2em;
  
  a {
    color: #444;
  }
  
  a:hover {
    color: #2e80d3;
  }
}

pre, code {
  background-color: #f8f8ff;
  border: 1px solid #dedede;
  color: #444;
  font-family: Bitstream Vera Sans Mono, Courier, monospace;
}

pre {
  font-size: 0.8em;
  line-height: 1.5em;
  margin: 0 0 2em;
  overflow: auto;
  padding: 0.5em;
  
  code {
    background-color: #f8f8ff;
    border: medium none;
    font-size: 1em;
    padding: 0;
  }
}

code {
  font-size: 0.9em;
}

h1 {
  font-family: @bistro-script;
  font-size: 68px;
  margin: 50px 0;
  color: @orange-color;
  
  a {
    color: @orange-color;
    border: 0;
  }
  
  a:hover {
    color: @orange-color;
    border: 0;
  }
}

h2 {
  background: url(/images/lightning.png) no-repeat 0 17px;
  color: #445b75;
  font-size: 26px;
  font-family: @nilland;
  padding-left: 40px;
  text-transform: lowercase;
  margin-bottom: 4px;
}

h3 {
  font-size: 1.3em;
  margin-bottom: 0.2em;
  color: @pink-color;
}

h4 {
  font-size: 0.9em;
  color: #555;
}

// Flashes
div.flash {
  border: 1px solid;
  font-size: 0.95em;
  padding: 0.75em 1em;
  margin-bottom: 1em;
}

div.flash.notice {
  background-color: #d4ffd4;
  border-color: #78d478;
}

// Layout
div.wrapper {
  .shadow();
  width: 640px;
  margin: 0 auto 30px;
}

div#header {
  margin: 10px 0 3em;
  line-height: 1em;
  
  h1 {
    float: left;
    border: 0;
    padding: 0;
    margin: 0;
  }
  
  div {
    float: right;
  }
  
  ul {
    font-size: 19px;
    margin: 50px 0 0;
    text-transform: lowercase;
    
    li {
      float: left;
      list-style: none;
      margin: 0 0 0 1.7em;
      padding: 0;
      
      a {
        font-family: @nilland;
        background: transparent no-repeat 0 5px;
        padding-left: 22px;
        border: 0;
      }
    }
      
    .blog a {
      background-image: url(/images/blog.png);
      color: @blog-color;
    }
    
    .music a {
      background-image: url(/images/music.png);
      color: @music-color;
    }
    
    .about a {
      background-image: url(/images/about.png);
      color: @about-color;
    }
    
    li:first-child {
      margin-left: 0;
    }
  }
  
  h3 {
    font-family: @helvetica-neue-light;
    font-size: 15px;
    font-weight: 300;
    margin: 15px 0 0;
    text-align: center;
    padding: 0;
    opacity: 0.7;
    
    a {
      color: @sub-header-color-one;
      border: 0;
    }
    
    a.music {
      color: @sub-header-color-two;
    }
    
    a:hover {
      border-bottom: 1px solid;
    }
  }
}

div#footer {
  color: #aaa;
  margin: 0 auto 2em;
  padding: 0;
  font-size: 0.85em;
  text-align: center;
  
  a {
    color: #aaa;
  }
  
  a:hover {
    color: @link-hover-color;
  }
}

.loading {
  display: block;
  background: url(/images/dots-white.gif) no-repeat left;
  padding-left: 29px;
  font-size: 0.9em;
  color: #555;
  width: 21px;
  height: 5px;
}

div.hd-video {
  background: #ddd;
  padding: 1.5em 0;
  text-align: center;
}

// Form
@import "partials/form";

// Posts
div.post {
  background: url(/images/dash.png) no-repeat bottom center;
  padding-bottom: 2em;
  margin-bottom: 2em;
  
  > h1 {
    margin-bottom: 0;
  }
  
  h2 {
    margin-bottom: 12px;
  }
  
  p.meta {
    color: @light-blue-color;
    margin-bottom: 12px;
  }
  
  ul, ol {
    margin: 0 0 2em 0.5em;
    
    li {
      margin-left: 1em;
    }
  }

  ul li {
    list-style: disc;
  }

  ol li {
    list-style: decimal;

    ol li {
      list-style: lower-alpha;
    }
  }
  
  div.video {
    background: #fff;
    padding: 10px;
    text-align: center;
    margin-bottom: 1em;
    width: 620px;
    height: 465px;
  }
  
  div.video.wide.youtube {
    height: 372px;
  }
}

// Comments
div#comments_container {
  h2.no-comments {
    color: #aaa;
  }
  
  ul {
    margin: 0;
    
    > li {
      list-style: none;
      padding: 0;
      margin: 0 0 2em;
      
      div.content {
        font-size: 0.9em;
      }
    }
  }
}

form#new_comment {
  background: #fff;
  padding: 20px;

  h2 {
    margin-top: 0;
    padding-top: 0;
  }
  
  p:last-child {
    margin-bottom: 0;
  }
  
  input.submit {
    float: left;
  }
  
  .loading {
    float: left;
    margin-top: 10px;
  }
}

// Home
div.home-banner {
  background: url(/images/banner-bgrd.png) repeat-x;
  height: 150px;
  width: 100%;
  position: absolute;
  left: 0;
  right: 0;
  top: 150px;
  
  h2 {
    text-indent: -9009em;
    width: 696px;
    height: 55px;
    background: url(/images/nice-to-meet-you.png) no-repeat;
    margin: 48px auto 0;
    padding: 0;
  }
}

p.home {
  margin: 250px 0 50px;
  text-align: center;
}

// Music
div#music-art {
  width: 300px;
  float: left;
  margin-right: 35px;
  font-size: 0.9em;
  color: #555;
  
  a.album-art {
    border: 10px solid #fff;
    display: block;
    width: 300px;
    height: 300px;
    margin-bottom: 1em;
  }
  
  a.album-art:hover {
    border-color: @link-color;
  }
  
  img {
    width: 300px;
    height: 300px;
  }
  
  div {
    padding-left: 10px;
  }
}

div#music-about {
  margin-left: 20px;
  line-height: 1.5em;
  width: 285px;
  float: left;
  
  p {
    font-size: 0.8em;
  }
}

div#music {
  h2:first-child {
    margin-top: 0;
    padding-top: 0;
  }
  
  ol {
    margin-bottom: 1em;
  }
  
  li {
    font-size: 1.1em;
    margin-bottom: 0.3em;
    margin-left: 30px;
  }
  
  ol li {
    list-style: decimal;
  }
  
  ul li {
    list-style: disc;
  }
  
  li a {
    font-size: 0.8em;
    margin-left: 6px;
  }
}

div.soundcloud-player {
  height: 101px;
  margin: 2px 0;
  background: url(/images/dots-white.gif) #fff no-repeat center;
  width: 245px;
  
  > div:first-child {
    padding: 10px;
  }
}

// About
ul.contact {
  color: #7e8c9c;
  font-size: 15px;
  margin-bottom: 0.5em;
  
  a {
    color: #7e8c9c;
    border: 0;
  }
  
  a:hover {
    border-bottom: 1px solid;
  }
  
  li {
    float: left;
    width: 33%;
    text-align: center;

    span {
      font-family: @bistro-script;
      font-size: 20px;
      text-transform: lowercase;
      position: relative;
      top: -1px;
    }
  }
}

ul.contact.two li {
  width: 49%;
}

// Gist
div.content .gist .gist-file .gist-meta {
  font-size: 0.65em;
}

// About
ul.social-media {
  height: 24px;
  margin-bottom: 1em;
  
  li {
    width: 24px;
    height: 24px;
    margin: 0 4px 0 0;
    float: left;
  }
  
  a {
    text-indent: -9009em;
    display: block;
    width: 24px;
    height: 24px;
    text-decoration: none;
    border: 0;
  }
  
  a.delicious {
    background-image: url(/images/delicious-24x24.png);
  }
  
  a.email {
    background-image: url(/images/email-24x24.png);
  }
  
  a.facebook {
    background-image: url(/images/facebook-24x24.png);
  }
  
  a.feed {
    background-image: url(/images/feed-24x24.png);
  }
  
  a.flickr {
    background-image: url(/images/flickr-24x24.png);
  }
  
  a.google {
    background-image: url(/images/google-24x24.png);
  }
  
  a.lastfm {
    background-image: url(/images/lastfm-24x24.png);
  }
  
  a.linkedin {
    background-image: url(/images/linkedin-24x24.png);
  }
  
  a.twitter {
    background-image: url(/images/twitter-24x24.png);
  }
  
  a.vimeo {
    background-image: url(/images/vimeo-24x24.png);
  }
  
  a.youtube {
    background-image: url(/images/youtube-24x24.png);
  }
}

ul.social-media:after {
  .clear-after();
}
