@import "compass/reset";
@import "compass/css3";
@import "partials/shared";

// HTML5
section, header, footer, nav, article, aside, figure {
  display: block;
  width: 100%;
}

mark, time, meter, progress {
  display: inline;
}


// Clear-fix
.clearfix:after {
  @include clearfix;
}

.clearfix {
  display: inline-block;
}

html[xmlns] .clearfix {
  display: block;
}

* html .clearfix {
  height: 1%;
}

// Tags
html {
  -webkit-font-smoothing: antialiased;
  background-color: $background-color;
}

body {
  background: $background-color image_url('texture.gif');
  color: $text-color;
  font-family: 'Helvetica Neue Light', 'Helvetica Neue', Helvetica, Arial, sans-serif;
  font-weight: 300;
  font-size: 17px;
  line-height: 1.5em;
}

a {
  color: $link-color;
  text-decoration: none;
  -webkit-transition: all 0.1s linear;
  border-bottom: 1px solid transparent;
}

a:hover {
  border-bottom: 1px solid;
}

strong {
  font-weight: bold;
}

em {
  background-color: $highligh-color;
  padding: 0 0.1em;
}

abbr {
  border-bottom: 1px dashed;
  cursor: help;
}

p {
  margin: 0 0 1em;
}

hr {
  margin-bottom: 2em;
  border: 0;
}

blockquote {
  border-left: 5px solid #ddd;
  color: #888;
  margin: 0 0 1em;
  padding-left: 1em;
  a {
    color: #888;
  }
}

small {
  font-size: 0.8em;
  color: #999;
  margin-left: 0.2em;
  
  a {
    color: #444;
  }
  
  a:hover {
    color: #2e80d3;
  }
}

pre {
  background-color: $code-background-color;
  border: 1px solid $code-border-color;
  color: #444;
  font-family: $monaco;
  font-size: 0.8em;
  margin: 0 0 2em;
  overflow: auto;
  padding: 0.5em;
  
  code {
    background-color: $code-background-color;
    border: medium none;
    font-size: 1em;
    padding: 0;
  }
}

code {
  background-color: $code-background-color;
  border: 1px solid $code-border-color;
  color: #444;
  padding: 0 0.2em;
  font-family: $monaco;
  font-size: 0.8em;
}

h1 {
  color: #000;
  font-size: 1.8em;
  font-weight: bold;
  margin: 0 0 1em;
  
  a {
    color: $red-color;
    border: 0;
  }
}

h2 {
  font-size: 1.3em;
  margin-bottom: 0.2em;
  font-weight: bold;
    
  a {
    color: $text-color;
    border: 0;
  }
}

h3 {
  font-size: 1em;
  font-weight: bold;
}

h4 {
  color: #999;
  font-weight: bold;
  margin-bottom: 0.2em;
}

// Sidebar
div#sidebar {
  width: 280px;
  position: fixed;
  top: 0;
  left: 0;
  padding: 60px 0 0 40px;
  font-size: 20px;
  
  p, p a {
    color: #666;
  }
  
  p a:hover {
    color: $link-color;
  }
  
  p.mark {
    padding: 60px 0 20px;
    
    a {
      -webkit-transition: none;
      width: 45px;
      height: 45px;
      background: image_url('sidebar-mark.png') no-repeat 0 0;
      text-indent: -9009em;
      display: block;
      margin: 0 auto;
    }
    
    a:hover {
      border: 0;
      background-position: 0 -46px;
    }
  }
}

// Nav
nav {
  li {
    margin-bottom: 0.3em;
    
    a:before {
      content: '— ';
    }
    
    a:hover {
      border: 0;
    }
    
    a:hover:before {
      content: '→ ';
    }
  }
}

// Main content
div#wrapper {
  margin-left: 360px;
  background: #fff;
  padding: 30px;
  min-width: $width;
  @include box-shadow(rgba(0, 0, 0, 0.3), 0, 0, 10px);
}

div#content {
  width: $width;
  padding: 30px 0;
}

// Footer
body > footer {
  width: $width;
  padding: 20px 30px;
  margin-left: 360px;
  color: #aaa;
  @include text-shadow(#fff, 0, 1px, 0);
  font-size: 14px;
  text-align: center;
  
  a {
    color: #aaa;
  }
  
  a:hover {
    color: $link-color;
  }
}


// Partials
@import "partials/pagination";

// Pages
@import "pages/home";
@import "pages/music";
@import "pages/blog";

// Misc
a.twitter-username:before {
  content: "@";
}

section.server-error {
  margin-bottom: 3em;
}
