@import partials/reset.sass
@import partials/shared.sass

// Easy clear
.clear:after
  +clearAfter()

// General
body
  background: #fff
  font-size: 15px

body *
  line-height: 1.6em

body, input, textarea
  color= !textColor
  font-family= !Helvetica
  font-weight: 300

a
  border-bottom: 1px dotted
  color= !linkColor
  text-decoration: none

a:hover
  border-bottom: 1px solid

strong
  font-weight: bold

em
  background-color: #fffeca
  padding: 0 0.2em

abbr
  border-bottom: 1px dashed
  cursor: help

p
  line-height: 1.5em
  margin: 0 0 1em

blockquote
  border-left: 5px solid #ddd
  color: #777
  margin: 0 0 1em
  padding-left: 1em
  a
    color: #777

small
  font-size: 0.8em
  color: #999
  margin-left: 0.2em
  a
    color: #444
  a:hover
    color: #2e80d3

pre
  background-color: #f8f8ff
  border: 1px solid #dedede
  color: #444
  font-family: "Monaco", Courier, monospace
  font-size: 0.8em
  line-height: 1.5em
  margin: 0 0 2em
  overflow: auto
  padding: 0.5em
  code
    background-color: #f8f8ff
    border: medium none
    font-size: 1em
    padding: 0

code
  background-color: #f8f8ff
  border: 1px solid #dedede
  color: #444
  font-size: 0.9em
  padding: 0 0.2em

h2
  color= !greenColor
  font:
    size: 24px
    family= !HelveticaNeueLight
  margin-bottom: 4px

h3
  font-size: 1.3em
  margin-bottom: 0.2em
  color= !orangeColor

h4
  font-size: 0.9em
  color: #555

// Flashes
div.flash
  border: 1px solid
  font-size: 0.95em
  padding: 0.75em 1em
  margin-bottom: 1em

div.flash.notice
  background-color: #d4ffd4
  border-color: #78d478

// Layout
div.wrapper
  width= !width
  margin: 0 auto 30px

div.two-columns.left
  > div
    float: left
    width: 230px
    margin-right: 20px
  > div:first-child
    width: 470px
  > div:last-child
    margin-right: 0

div.three-columns
  > div
    float: left
    width: 230px
    margin-right: 20px
  > div:nth-child(2)
    width: 220px
  > div:last-child
    margin-right: 0

div.two-columns:after, div.three-columns:after
  +clearAfter()

div#header
  margin: 10px 0 3em
  line-height: 1em
  h1
    float: left
    border: 0
    padding: 0
    margin: 0
  div
    float: right
  ul
    font-size: 17px
    margin: 30px 0 0
    text-transform: lowercase
    li
      float: left
      list-style: none
      margin: 0 0 0 1.7em
      padding: 0
      a
        background: transparent no-repeat 0 5px
        padding-left: 22px
        border: 0
    .blog a
      background-image= image_url("blog.png")
      color= !blogColor
    .music a
      background-image= image_url("music.png")
      color= !musicColor
    .about a
      background-image= image_url("about.png")
      color= !aboutColor
    li:first-child
      margin-left: 0
  h3
    font-family= !HelveticaNeueLight
    font-size: 15px
    font-weight: 300
    margin: 15px 0 0
    text-align: center
    padding: 0
    opacity: 0.7
    a
      color= !subHeaderColor1
      border: 0
    a.music
      color= !subHeaderColor2
    a:hover
      border-bottom: 1px solid

div#footer
  color: #aaa
  margin: 0 auto 2em
  padding: 0
  font-size: 0.85em
  text-align: center
  a
    color: #aaa
  a:hover
    color= !linkColor

// Home
div.post.home
  background= !lightBrownColor
  border-top= 1px "solid" !lightGrayColor
  padding: 10px
  p:last-child
    margin-bottom: 0

// Posts
div.post
  background= image_url("dash.png") "no-repeat bottom center"
  padding-bottom: 2em
  margin-bottom: 2em
  h2
    margin-bottom: 0
    a
      color= !greenColor
      border: 0
    a:hover
      border-bottom: 1px solid
  p.meta
    color= !darkBrownColor
    margin-bottom: 12px
    font-size: 0.9em
    text-transform: lowercase
    margin-bottom: 0.3em
    a
      color= !darkBrownColor
      border: 0
    a:hover
      border-bottom: 1px solid
  ul, ol
    margin: 0 0 2em 0.5em
    li
      margin-left: 1em

  ul li
    list-style: disc

  ol li
    list-style: decimal
  div.video
    background: #fff
    padding: 20px
    text-align: center
    margin-bottom: 1em
  div.hd-video
    background: #ddd
    padding: 1.5em 0
    text-align: center


// Pagination
@import partials/pagination

// Form
@import partials/form

// Comments
div#comments_container
  h2.no-comments
    color: #aaa
  ul
    margin: 0
    > li
      list-style: none
      padding: 0
      margin: 0 0 2em
      div.content
        font-size: 0.9em

form#new_comment
  background: #fff
  padding: 20px
  h2
    margin-top: 0
    padding-top: 0
  p:last-child
    margin-bottom: 0
  input.submit
    float: left
  .loading
    float: left
    margin-top: 10px

.loading
  display: block
  background= image_url("dots-white.gif") "no-repeat" "left"
  padding-left: 29px
  font-size: 0.9em
  color: #555
  width: 21px
  height: 5px
