@import "partials/shared";

// Clearance
ul.clearance li ul:after {
  @include clearAfter;
}

ul.clearance > li {
  background: image-url("dash.png") no-repeat bottom center;
  padding-bottom: 2em;
  margin-bottom: 2em;
}

ul.clearance > li li {
  float: left;
  margin-right: 10px;
}

ul.clearance > li li a,ul.clearance > li li a:hover {
  border: 5px solid white;
  box-shadow: 1px 1px 1px #dddddd;
  -moz-box-shadow: 1px 1px 1px #dddddd;
  -webkit-box-shadow: 1px 1px 1px #dddddd;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  display: block;
  width: 125px;
  height: 83px;
}

ul.clearance > li li a:hover {
  -moz-box-shadow: 1px 1px 1px #bbbbbb;
  -webkit-box-shadow: 1px 1px 1px #bbbbbb;
}

ul.clearance > li li img {
  width: 125px;
  height: 83px;
}

@import "partials/fancybox";
