html
  width: 320px
  font-size: 0.9em

body
  width: 280px
  padding: 0 20px

body > header
  margin: 1em 0 3em


div.post div.video
  width: 240px

div.post div.video embed,div.post div.video object
  display: none

div.post div.video,div.post div.video.wide.youtube
  height: 2.8em

div#music-art,div#music-about
  float: none

div#music-art
  width: 260px
  height: 260px
  margin-bottom: 1em

div#music-art img
  width: 260px
  height: 260px

div#music-about
  margin-left: 0

ul.tracks li span
  display: none

div.pagination
  line-height: 2em

div.pagination a, div.pagination span.gap
  display: none
  margin: 0

div.pagination a.next_page, div.pagination a.previous_page
  display: inline
