$iphone-width: 320px;
$iphone-content-width: 300px;
$iphone-media-width: 300px;

// Layout
html, body {
  width: $iphone-width;
}

div.wrapper, body > header, body > section, body > footer {
  width: $iphone-content-width;
}

// Tags
h2 {
  font-size: 22px;
}

/*pre, code {
 font-size: 1em;
 overflow: hidden;
}*/

// Header
body > header {
  margin: 1em auto 2em;
  
  h1 a {
    width: $iphone-content-width;
  }
  
  li {
    margin-left: 20px;
  }
}

// Home
div#home {
  section, div.sidebar {
    float: none;
    width: $iphone-content-width;
  }
  
  div.sidebar {
    margin-bottom: 2em;
  }
}

div.albums {
  text-align: center;
  
  > div {
    width: $iphone-content-width;
  }
  
  h3 {
    margin: 0 auto 0.7em;
    font-size: 1.3em;
  }
  
  ul {
    margin: 1.5em 0 0 3.25em; 
  }
  
  p {
    display: none;
  }
}

// Music and About
div.photo-text {
  float: none;
  margin: 0 auto 2em;
  width: $iphone-content-width;
  
  a.photo {
    float: none;
    width: $iphone-media-width;
    height: $iphone-media-width;
    
    img {
      width: $iphone-media-width;
      height: $iphone-media-width;
    }
  }
}

div#music-art, div#music-about {
  float: none;
  width: 300px;
  margin: 0 auto;
}

div#music-art {
  a.photo, img {
    width: 280px;
    height: 280px;
  }
}

// Music
ul.tracks li span {
  display: none;
}

// Blog
section > article {
  overflow: hidden;
  margin-bottom: 3em;
  
  img {
    width: $iphone-content-width;
  }
  
  object, embed {
    display: none;
  }
  
  div.video {
    -moz-box-shadow: 0 0 4px rgba(0, 0, 0, 0.7);
    -webkit-box-shadow: 0 0 4px rgba(0, 0, 0, 0.7);
  }
  
  div.video, div.video.vimeo iframe {
    width: $iphone-media-width;
    height: 195px;
  }
  
  div.video.wide.youtube, div.video.wide.vimeo, div.video.vimeo.wide iframe {
    height: 146px;
  } 
}

div.social {
  padding-left: 60px;
  width: 220px;
  
  iframe#facebook-like-button {
    width: 80px;
  }
}

div.pagination {
  line-height: 2em;
}

div.pagination a, div.pagination span.gap {
  display: none;
  margin: 0;
}

div.pagination a.next_page, div.pagination a.previous_page {
  display: inline;
}
