/*body > header {
  h1 a {
    background-image: image-url("samsoffes.svg");
    background-size: 237px 90px;
  }
}*/

/*
div.albums {
  background-image: image_url('albums-teeth@2x.png');
    
  ul {
    li {
      background-image: image_url('vinyl_insert@2x.gif');
    }
    
    a {
      background-image: image_url('vinyl@2x.png');
    }
  }
}

div.soundcloud-player {
  background-image: image_url('dots-white@2x.gif');
}
*/
