body > header {
  h1 a {
    background-image: image-url("samsoffes.svg");
    background-size: 237px 90px;
  }
  
  li a {
    background-size: 16px 16px;
  }
  
  li.blog a {
    background-image: image-url("blog@2x.png");
  }
  
  li.music a {
    background-image: image-url("music@2x.png");
  }
  
  li.about a {
    background-image: image-url("about@2x.png");
  }
}

h2 {
  background-image: image-url("lightning.svg");
  background-size: 36px 11px;
}

section > article, hr, div#home div.sidebar {
  background-image: image-url("dash.svg");
  background-size: 89px 6px;
}

/*div.albums
  background-image: image_url('albums-teeth@2x.png') {
    
  ul {
    li {
      background-image: image_url('vinyl_insert@2x.gif');
    }
    
    a {
      background-image: image_url('vinyl@2x.png');
    }
  }
}

div.soundcloud-player {
  background-image: image_url('dots-white@2x.gif');
}*/
