@import "compass/reset";
@import "partials/shared";

body, html {
  background-color: $orange-color;
}

h1 {
  color: white;
  font-family: $helvetica-neue;
  font-size: 60px;
  font-weight: bold;
  text-align: center;
  width: 400px;
  height: 1em;
  position: absolute;
  top: 50%;
  left: 50%;
  margin: -1em 0 0 -200px;
}

h1:before {
  content: "#";
}
