<div class="home-banner">
  <div class="wrapper">
    <h2>Hi, I'm Sam. Nice to meet you.</h2>
  </div>
</div>

<p class="home">Something cool and fancy will go here soon. For now, <%= link_to "just head to the blog", blog_url %>.</p>
