@import "compass/css3";

img#portrait {
  float: left;
  background: #fff;
  width: 300px;
  height: 300px;
  margin: 0.5em 1em 0.5em 0;
  @include single-box-shadow(rgba(0, 0, 0, 0.7), 0, 1px, 4px);
}
