ul.contact
  color: #7e8c9c
  font-size: 0.9em
  margin-bottom: 0.5em
  width: 100%

ul.contact a
  color: #7e8c9c

ul.contact a:hover
  border-bottom: 1px solid

ul.contact li
  float: left
  width: 33%
  text-align: center

ul.contact li span
  text-transform: lowercase
  color: #999

ul.contact.two
  margin-bottom: 2em
  li
    width: 49%
