// Post
section article {
  margin-bottom: 6em;
  
  header {
    p {
      color: #949494;
      font-size: 0.9em;
      margin-bottom: 0.25em;
      
      a {
        color: #949494;
        border: 0;
      }
    }
  }
  
  ul, ol {
    margin: 0 0 2em 0.5em;
    
    li {
      margin-left: 1em;
    }
  }
  
  ul li {
    list-style: disc;
  }
  
  ol li {
    list-style: decimal;
  }
  
  ol li ol li {
    list-style: lower-alpha;
  }
  
  div.video {
    background: #fff;
    text-align: center;
    margin-bottom: 1em;
    width: 640px;
    height: 480px;
    @include single-box-shadow(rgba(0, 0, 0, 0.7), 0, 0, 6px);
    overflow: hidden;
  }
  
  div.video.wide.youtube {
    height: 372px;
  }
  
  div.video.wide.vimeo {
    height: 360px;
  }
  
  img {
    max-width: 100%;
  }
  
  a.bordered-image {
    float: left;
    margin: 0.25em 0.5em 0.5em 0;
  }
}

div.social {
  overflow: hidden;
  margin: -4em 0 1em; // Ugly
  
  iframe#facebook-like-button {
    width: 294px;
  }
}

// Gist
div.gist div.gist-file div.gist-meta {
  padding: 0.5em;
  font-size: 0.6em;
  line-height: 1em;
}

// Tags
a.tag {
  word-wrap: nowrap;
}

a.tag:before {
  content: "#";
}

div.tags {
  text-align: center;
  margin-bottom: 3em;
  
  a {
    @include single-text-shadow(none);
    margin: 5px;
    word-wrap: nowrap;
    line-height: 1.5em;
  }
  
  .nube1 {
    font-size: 1em;
  }
  
  .nube2 {
    font-size: 1.2em;
  }
  
  .nube3 {
    font-size: 1.4em;
  }
  
  .nube4 {
    font-size: 1.6em;
  }
  
  .nube5 {
    font-size: 1.8em;
  }
  
  .nube6 {
    font-size: 2em;
  }
}
