div#home {
  width: $width;
  margin: 3em auto;
  font-size: 20px;
}

section.home {  
  p.welcome {
    color: #000;
    font-size: 1.25;
  }
  
  p.gray {
    color: $gray-color;
    font-size: 1em;
  }
}
