<%- title "About" -%>

<h2>What I Do</h2>

<p>My name is Sam Soffes. I create amazing iPhone, Mac, and web software (or anything you could ever imagine) at <a href="http://tastefulworks.com/">Tasteful Works</a>.</p>

<h2>What I've Done</h2>

<p>I founded <a href="http://trimonix.com">Trimonix</a> a few years ago and released a <a href="http://tastefulworks.com/countdown-maker">Mac app</a>. I used to work on an iPhone app called <a href="http://youversion.com/iphone">Bible</a> that has about 3 million people using it world wide and the web app that powered it, <a href="http://youversion.com">YouVersion.com</a> (among many other web apps) at <a href="http://lifechurch.tv">LifeChurch.tv</a>.</p>

<p>Trimonix is now <a href="http://blog.tastefulworks.com/post/242777197/sam-soffes-and-the-merger-of-trimonix">a part of Tasteful Works</a>. Since the merger, we've released a new Mac app, <a href="http://tastefulworks.com/stage-time">Stage Time</a>, over at <a href="http://tastefulworks.com">Tasteful Works</a>.</p>

<h2>Contact Me</h2>

<p>The best way to get in touch with me is email, but here are some alternatives. If you want me to turn your dreams into software, <a href="http://tastefulworks.com/contact">contact Tasteful Works</a> and we'll get you taken care of.</p>

<ul class="contact clearfix">
  <li><span>Read:</span> <a href="http://samsoff.es/">http://samsoff.es</a></li>
  <li><span>Email:</span> <a href="&#109;&#097;&#105;&#108;&#116;&#111;&#058;&#115;&#97;m&#x40;s&#97;&#x6d;&#x73;&#x6f;f&#x66;&#x2e;&#101;s">&#115;&#97;m&#x40;s&#97;&#x6d;&#x73;&#x6f;f&#x66;&#x2e;&#101;s</a></li>
  <li><span>Call:</span> <a href="tel:+1-415-935-3653">(415) 935-3653</a></li>
</ul>

<ul class="contact two clearfix">
  <li><span>Tweet:</span> <a href="http://twitter.com/samsoffes" rel="external nofollow">samsoffes</a></li>
    <li><span>Google Talk:</span> <a href="gtalk:chat?jid=samsoffes@gmail.com">samsoffes@gmail.com</a></li>
</ul>
