<%- title "About" -%>

<div id="about" class="clearfix">
	<div id="about-photo">
	  <%= link_to image_tag("me.png", :alt => "Sam Soffes"), root_url, :class => "photo", :rel => "home" %>
		<div>
		  <p>The best way to get in touch with me is email, but here are some alternatives. If you want me to turn your dreams into software, <a href="http://tastefulworks.com/contact">contact Tasteful Works</a> and we'll get you taken care of.</p>
		  <ul class="contact">
        <li><span>Email:</span> <a href="&#109;&#097;&#105;&#108;&#116;&#111;&#058;&#115;&#97;m&#x40;s&#97;&#x6d;&#x73;&#x6f;f&#x66;&#x2e;&#101;s">&#115;&#97;m&#x40;s&#97;&#x6d;&#x73;&#x6f;f&#x66;&#x2e;&#101;s</a></li>
        <li><span>Call:</span> <a href="tel:+1-415-935-3653">(415) 935-3653</a></li>
        <li><span>Tweet:</span> <a href="http://twitter.com/samsoffes" rel="external nofollow" class="twitter-username">samsoffes</a></li>
      </ul>
    </div>
	</div>
	<div id="about-text">
    <h3>What I Do</h3>
    <p>My name is Sam Soffes. I create iPhone, iPad, Mac, and Rails apps at <a href="http://tastefulworks.com/">Tasteful Works</a>. I also <%= link_to "create music", music_url %> and am in constant pursuit of tasting the best burger (with ketchup only with pepperjack).</p>

    <h3>What I've Done</h3>
    <p>I founded <a href="http://trimonix.com">Trimonix</a> a few years ago and released a <a href="http://tastefulworks.com/countdown-maker">Mac app</a>. I used to work on an iPhone app called <a href="http://youversion.com/iphone">Bible</a> that has about 3 million people using it world wide and the web app that powered it, <a href="http://youversion.com">YouVersion.com</a>, at <a href="http://lifechurch.tv">LifeChurch.tv</a>.</p>

    <p>Trimonix is now <a href="http://blog.tastefulworks.com/post/242777197/sam-soffes-and-the-merger-of-trimonix">a part of Tasteful Works</a>. Since the merger, we've released a new Mac app, <a href="http://tastefulworks.com/stage-time">Stage Time</a>, over at <a href="http://tastefulworks.com">Tasteful Works</a>.</p>
  </div>
</div>
