<%- title "Clearance" -%>
<%- stylesheet "clearance" -%>
<%- javascript :jquery, "jquery.fancybox-1.3.0.pack", "clearance" -%>
<div class="alert">
  <h2>Clearance</h2>
  <p>So I'm going all <a href="http://www.daveramsey.com/" rel="external nofollow">Dave Ramsey</a> and selling a bunch of stuff I no longer use. Be awesome and buy something. Just <a href="/about">contact me</a> or click an item title to see it on Craig's List.</p>
</div>

<hr />

<ul class="clearance">
  <li>
    <h2><a href="http://dallas.craigslist.org/dal/sys/1602929937.html">WWDC 2009 Backpack - $80</a></h2>
    <p>WWDC 2009 backpacks were only distributed to WWDC 2009 attendees at last year's conference. It is in great condition. I only used it for a few days in San Francisco during the conference.</p>
    <ul>
      <li><a rel="backpack" href="http://assets.samsoff.es/images/clearance/backpack-01.jpg"><img src="http://assets.samsoff.es/images/clearance/backpack-01.jpg" alt="" /></a>
      </li>
      <li><a rel="backpack" href="http://assets.samsoff.es/images/clearance/backpack-02.jpg"><img src="http://assets.samsoff.es/images/clearance/backpack-02.jpg" alt="" /></a>
      </li>
      <li><a rel="backpack" href="http://assets.samsoff.es/images/clearance/backpack-03.jpg"><img src="http://assets.samsoff.es/images/clearance/backpack-03.jpg" alt="" /></a>
      </li>
      <li><a rel="backpack" href="http://assets.samsoff.es/images/clearance/backpack-04.jpg"><img src="http://assets.samsoff.es/images/clearance/backpack-04.jpg" alt="" /></a>
      </li>
    </ul>
  </li>
  <li>
    <h2><a href="http://dallas.craigslist.org/dal/msg/1602849339.html">Gretsch G5120 Electromatic Hollowbody Electric Guitar with hard case - $500</a></h2>
    <p>This guitar is in excellent condition. It is <a href="http://guitars.musiciansfriend.com/product/Gretsch-Guitars-G5120-Electromatic-Hollow-Body-with-DualCoil-Pickups?sku=513282&amp;src=3WFRWXX&amp;ZYXSEM=0&amp;CAWELAID=28307067" rel="nofollow">$699 new</a> without a case. This is the guitar and case for $500.</p>
    <p>There a few very minor scratches on the back. You have to look very closely to see them. I noticed the intonation is a bit off. I'm sure if you got it setup, it would be just fine. Everything else, including the Bigsby, works great.</p>
    <ul>
      <li><a rel="gretch" href="http://assets.samsoff.es/images/clearance/gretch-01.jpg"><img src="http://assets.samsoff.es/images/clearance/gretch-01.jpg" alt="" /></a>
      </li>
      <li><a rel="gretch" href="http://assets.samsoff.es/images/clearance/gretch-02.jpg"><img src="http://assets.samsoff.es/images/clearance/gretch-02.jpg" alt="" /></a>
      </li>
      <li><a rel="gretch" href="http://assets.samsoff.es/images/clearance/gretch-03.jpg"><img src="http://assets.samsoff.es/images/clearance/gretch-03.jpg" alt="" /></a>
      </li>
      <li><a rel="gretch" href="http://assets.samsoff.es/images/clearance/gretch-04.jpg"><img src="http://assets.samsoff.es/images/clearance/gretch-04.jpg" alt="" /></a>
      </li>
    </ul>
  </li>
  <li>
    <h2><a href="http://dallas.craigslist.org/dal/sys/1602858375.html">Asus EEE PC 1000 - 1.6GHz, 2GB RAM, 40GB SSD 10" screen, Linux - $250</a></h2>
    <p>Excellent condition.</p>
    <p>Works great, I just don't use it that much. It originally had 1GB of RAM in it, but was upgraded to 2GB. The original 1GB stick is included. Currently it has a fresh install of <a href="http://www.jolicloud.com/" rel="nofollow">Jolicloud</a> on it.</p>
    <p>Box, case, manual, discs, power supply, and screen cleaner included. External Samsung optical drive with cable also included.</p>
    <ul>
      <li><a rel="eeepc" href="http://assets.samsoff.es/images/clearance/eeepc-01.jpg"><img src="http://assets.samsoff.es/images/clearance/eeepc-01.jpg" alt="" /></a>
      </li>
      <li><a rel="eeepc" href="http://assets.samsoff.es/images/clearance/eeepc-02.jpg"><img src="http://assets.samsoff.es/images/clearance/eeepc-02.jpg" alt="" /></a>
      </li>
      <li><a rel="eeepc" href="http://assets.samsoff.es/images/clearance/eeepc-03.jpg"><img src="http://assets.samsoff.es/images/clearance/eeepc-03.jpg" alt="" /></a>
      </li>
      <li><a rel="eeepc" href="http://assets.samsoff.es/images/clearance/eeepc-04.jpg"><img src="http://assets.samsoff.es/images/clearance/eeepc-04.jpg" alt="" /></a>
      </li>
    </ul>
  </li>
  <li>
    <h2><a href="http://dallas.craigslist.org/dal/msg/1601091094.html">Allen&Heath MixWizard WZ3 16:2 - $800</a></h2>
    <p>This mixer is in excellent condition. I kept it racked in my road case for a few months and only used it a couple of times. I am selling it because I moved to a different town, so I'm no longer playing with a band. Everything works to my knowledge. I never had any issues with it.</p>
    <p>You can find more about it on <a href="http://www.allen-heath.co.uk/US/DisplayProduct.asp?pview=49" target="_blank" rel="nofollow">Allen&amp;Heath's website</a>.</p>
    <p>Power cable included.</p>
    <ul>
      <li><a id="test" rel="mixwizard" href="http://assets.samsoff.es/images/clearance/mixwizard-01.jpg"><img src="http://assets.samsoff.es/images/clearance/mixwizard-01.jpg" alt="" /></a>
      </li>
      <li><a rel="mixwizard" href="http://assets.samsoff.es/images/clearance/mixwizard-02.jpg"><img src="http://assets.samsoff.es/images/clearance/mixwizard-02.jpg" alt="" /></a>
      </li>
    </ul>
  </li>
  <li>
    <h2><a href="http://dallas.craigslist.org/dal/msg/1602833084.html">M-Audio Oxygen 8 V2 USB Midi Controller - $80</a></h2>
    <p>This little midi controller has been great. I've mainly used it with Logic and Garageband, but I know it works with tons of different programs.</p>
    <p>Nothing is wrong with it. It's in pretty good condition. There are a few minor scratches on it.</p>
    <p>USB cable included.</p>
    <ul>
      <li><a rel="oxygen8" href="http://assets.samsoff.es/images/clearance/oxygen8-01.jpg"><img src="http://assets.samsoff.es/images/clearance/oxygen8-01.jpg" alt="" /></a>
      </li>
      <li><a rel="oxygen8" href="http://assets.samsoff.es/images/clearance/oxygen8-02.jpg"><img src="http://assets.samsoff.es/images/clearance/oxygen8-02.jpg" alt="" /></a>
      </li>
      <li><a rel="oxygen8" href="http://assets.samsoff.es/images/clearance/oxygen8-03.jpg"><img src="http://assets.samsoff.es/images/clearance/oxygen8-03.jpg" alt="" /></a>
      </li>
    </ul>
  </li>
  <li>
    <h2><a href="http://dallas.craigslist.org/dal/msg/1602843750.html">Dunlop Cry Baby Wah Pedal - $40</a></h2>
    <p>I bought this off a buddy and never used it. It's a little banged up, but it works. I don't have a power supply for it. Just the pedal is for sale.</p>
    <ul>
      <li><a rel="crybaby" href="http://assets.samsoff.es/images/clearance/crybaby-01.jpg"><img src="http://assets.samsoff.es/images/clearance/crybaby-01.jpg" alt="" /></a>
      </li>
      <li><a rel="crybaby" href="http://assets.samsoff.es/images/clearance/crybaby-02.jpg"><img src="http://assets.samsoff.es/images/clearance/crybaby-02.jpg" alt="" /></a>
      </li>
    </ul>
  </li>
  <li>
    <h2><a href="http://dallas.craigslist.org/dal/msg/1602829355.html">Fender Princeton 65 Guitar Amp - $75</a></h2>
    <p>This amp has been a great little practice amp for a long time. I don't really use it any more, so I'm selling it.</p>
    <p>If you use the first input, it buzzes real bad, so I always only use the second input. If you turn up the reverb at all, it also buzzes a bit, so I always leave it off. Besides those two things, it works great.</p>
    <p>The footswitch I've used with it forever has two buttons on it. This amp only supports one, so one of them doesn't do anything, but it's never caused a problem for me.</p>
    <p>65 watts. Solid state. Footswitch and power cable included.</p>
    <ul>
      <li><a rel="amp" href="http://assets.samsoff.es/images/clearance/amp-01.jpg"><img src="http://assets.samsoff.es/images/clearance/amp-01.jpg" alt="" /></a>
      </li>
      <li><a rel="amp" href="http://assets.samsoff.es/images/clearance/amp-02.jpg"><img src="http://assets.samsoff.es/images/clearance/amp-02.jpg" alt="" /></a>
      </li>
      <li><a rel="amp" href="http://assets.samsoff.es/images/clearance/amp-03.jpg"><img src="http://assets.samsoff.es/images/clearance/amp-03.jpg" alt="" /></a>
      </li>
    </ul>
  </li>
  <li>
    <h2><a href="http://dallas.craigslist.org/dal/msg/1602813150.html">Antique "Viva La Vida"ish Bell - $50</a></h2>
    <p>I bought this bell at an antique shop in Louisville, KY awhile back because my band was covering Viva La Vida. It worked out great. It's an old dinner bell from a plantation.</p>
    <p>I haven't used it in a long time. It's great if you want an old bell.</p>
    <ul>
      <li><a rel="bell" href="http://assets.samsoff.es/images/clearance/bell-01.jpg"><img src="http://assets.samsoff.es/images/clearance/bell-01.jpg" alt="" /></a>
      </li>
      <li><a rel="bell" href="http://assets.samsoff.es/images/clearance/bell-02.jpg"><img src="http://assets.samsoff.es/images/clearance/bell-02.jpg" alt="" /></a>
      </li>
      <li><a rel="bell" href="http://assets.samsoff.es/images/clearance/bell-03.jpg"><img src="http://assets.samsoff.es/images/clearance/bell-03.jpg" alt="" /></a>
      </li>
    </ul>
  </li>
</ul>
