<h2>Nice To Meet You</h2>
<p>I'm a <a href="http://github.com/samsoffes" rel="external nofollow">developer</a>, <a href="http://dribbble.com/samsoffes" rel="external nofollow">designer</a>, and burger enthusiast. I like to <%= link_to 'make stuff', projects_url %>. Currently, I work on <a href="https://cheddarapp.com" rel="external nofollow">Cheddar</a> full-time. It's a simple app for managing your tasks that's always in sync.</p>

<p>Read <a href="http://blog.samsoff.es/" rel="external nofollow">my blog</a> if that's your thing, find out more <%= link_to 'about me', about_url %>, or say hi <a href="http://twitter.com/samsoffes" rel="external nofollow">on Twitter</a>.</p>
