<div class="current-project">
  <h2>Current Project</h2>
  <section class="projects">
    <div class="row-wide" id="project-cheddar">
      <a href="https://cheddarapp.com" rel="external nofollow" class="title">Cheddar &mdash; Tasks made simple.</a>
      <a href="https://cheddarapp.com" rel="external nofollow" class="screenshot">Cheddar for iPhone Screenshot</a>
    </div>
  </section>
  <p><a href="http://cheddarapp.com" rel="external nofollow">Cheddar</a> is my current project. It is a simple and always in sync way to manage what you have to do. I <a href="http://blog.samsoff.es/here-we-go-again" rel="external nofollow">quit my job</a> to work on it full time. <a href="http://blog.samsoff.es/announcing-cheddar" rel="external nofollow">Read the announcement</a>.</p>
  <p class="continue"><%= link_to 'More projects &rarr;'.html_safe, projects_url %></p>
</div>

<div class="latest-post">
  <h2><a href="http://blog.samsoff.es" rel="external nofollow">Latest Post</a></h2>
  <h3><a href="http://blog.samsoff.es/progress-in-ios" rel="external nofollow">Progress in iOS</a></h3>
  <p>In <a href="http://www.youtube.com/watch?v=VOFTop3AMZ8" rel="external nofollow">this year's RailsConf keynote</a>, DHH talked about progress. In short, things are always changing—usually for the better. <strong>Progress is good. Embrace it.</strong></p>
  <p>I know a lot of people (especially in the Objective-C world) that fear progress. 
   We have all of these great tools like <a href="http://blog.samsoff.es/automatic-reference-counting" rel="external nofollow">Automatic Reference Counting</a>, Core Data, and UIKit to make writing iOS applications easy. Apple has spent some considerable engineering time solving problems that we all have to solve. Quit wasting you time and embrace it.</p>
  <p class="continue"><a href="http://blog.samsoff.es/progress-in-ios" rel="external nofollow">Continue reading &rarr;</a></p>
</div>
