<%- title "MobileX" -%>
<%- stylesheet "mobilex" -%>

<div class="alert">
  <h2>MobileX</h2>
  <p>I got the opportunity to speak at <a href="http://samsoff.es/posts/mobilelex-2009">MobileLex 2009</a> last year. They asked me to speak some of the <a href="http://mobilexconference.com/" rel="external nofollow">MobileX conferences</a> this year. I can't thank them enough for the opportunity. I'm really looking forward to it.</p>
  <p>If we don't know each other already, check out <%= link_to "my about page", about_url %> and say hi. I occasionally <%= link_to "blog", blog_url %> about <a href="/tags/development">development</a> and <%= link_to "other stuff", tags_url %> too.</p>
</div>

<hr />

<article>
  <header>
    <h2>Successful iPhone Applications</h2>
  </header>
  <p>In this talk, I discussed all of the things that are important for making a successful iPhone application. A lot of this information I pulled from my experience working on <a href="http://youversion.com/iphone" rel="external nofollow">Bible</a> (an iPhone app used by over 3 million people world wide) and various client applications with <a href="http://tastefulworks.com">Tasteful Works</a>.</p>
  <p>I mentioned <a href="http://rememberthemilk.com" rel="external nofollow">Remember the Milk</a>'s unique model for making money, as well as <a href="http://www.pinchmedia.com/blog/appstore-secrets/">Pinch Media's AppStore Secrets blog post</a> regarding how much to charge for iPhone applications and various other things.</p>
  <p>Download my slides:</p>
  <ul class="download-slides">
    <li><a href="http://assets.samsoff.es/pdf/successful-iphone-apps.pdf" class="pdf">PDF Format</a></li>
    <li><a href="http://assets.samsoff.es/keynote/successful-iphone-apps.key" class="keynote">Keynote Format</a></li>
  </ul>
</article>

<article>
  <header>
    <h2>Universal iPad/iPhone Apps</h2>
  </header>
  <p>In this talk, I covered how to create a universal iPad/iPhone applications. Most of the extra work in creating a universal application is due to the iPad and iPhone running different versions of iPhone OS. I covered how to gracefully support both versions of iPhone OS using various techniques as described in the iPad Programming Guide.</p>
  <p>I showed an example application that shows a view controller as a modal on the iPhone or a popover on the iPad. You can <a href="http://github.com/samsoffes/universal-ipad-iphone-example">download the example project's code</a> from <a href="http://github.com/samsoffes">my GitHub</a>.</p>
  <p>Download my slides:</p>
  <ul class="download-slides">
    <li><a href="http://assets.samsoff.es/pdf/universal-ipad-iphone-apps.pdf" class="pdf">PDF Format</a></li>
    <li><a href="http://assets.samsoff.es/keynote/universal-ipad-iphone-apps.key" class="keynote">Keynote Format</a></li>
  </ul>
</article>

<article>
  <header>
    <h2>Reuse Your Code with Static Libraries</h2>
  </header>
  <p>In this talk, I covered why reusing and keeping your code DRY is import. Apple's provided mechanism for this on the iPhone is static libraries. I went through the anatomy of a static library (and its friends). The talk ended with a demo showing how to setup an iPhone application and then abstract out a class into a static library. I also showed how to setup direct dependencies and everything else needed to get going reusing your code.</p>
  <p>This talk was based on <a href="http://samsoff.es/posts/screencast-reuse-code-across-iphone-applications-with-a-static-library-and-git">a screencast</a> I did awhile ago. You can get the <a href="http://github.com/samsoffes/iphone-library-test-app">test app code</a> and <a href="http://github.com/samsoffes/iphone-library-test-library">test library</a> on <a href="http://github.com/samsoffes">GitHub</a>.</p>
  <p>I talked a bit about the open source library that my company, <a href="http://tastefulworks.com">Tasteful Works</a>, is distributing, <a href="http://github.com/tastefulworks/twtoolkit">TWToolkit</a>. You can also get its <a href="http://github.com/tastefulworks/twtoolkit">source code on GitHub</a>.</p>
  <p>Download my slides:</p>
  <ul class="download-slides">
    <li><a href="http://assets.samsoff.es/pdf/reuse-your-code-with-static-libraries.pdf" class="pdf">PDF Format</a></li>
    <li><a href="http://assets.samsoff.es/keynote/reuse-your-code-with-static-libraries.key" class="keynote">Keynote Format</a></li>
  </ul>
</article>
