<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8" />
  <title>Orange</title>
  <link rel="apple-touch-icon-precomposed" href="<%= image_path("apple-touch-icon.png") %>">
  <link rel="me" href="http://www.google.com/profiles/samsoffes" />
  <%= stylesheet_link_tag "orange" %>
  <%= google_analytics %>
</head>
<body>
  <h1>f05b35</h1>
  <%= observer_app %>
</body>
</html>
