<%- title "Projects by Sam." -%>

<header>
  <h2><%= link_to 'Projects by Sam.', projects_url %></h2>
</header>

<section class="projects">
  <div class="row-wide" id="project-cheddar">
    <a href="https://cheddarapp.com" rel="external nofollow" class="title">Cheddar &mdash; Tasks made simple.</a>
    <a href="https://cheddarapp.com" rel="external nofollow" class="screenshot">Cheddar for iPhone Screenshot</a>
  </div>
  <div class="row-wide" id="project-shares">
    <a href="http://getsharesapp.com" rel="external nofollow" class="title">Shares &mdash; Your gains, at a glance</a>
    <a href="http://getsharesapp.com" rel="external nofollow" class="screenshot">Shares for iPhone Screenshot</a>
  </div>
  <div class="row">
    <div id="project-nothing-magical">
      <a href="http://nothingmagical.com" rel="external nofollow">Nothing Magical</a>
    </div>
    <div id="project-sstoolkit">
      <a href="http://sstoolk.it" rel="external nofollow">SSToolkit</a>
    </div>
  </div>
  <div class="row">
    <div id="project-markdownr">
      <a href="http://markdownr.com" rel="external nofollow">Markdownr</a>
    </div>
    <div id="project-awful-recruiters">
      <a href="http://awfulrecruiters.com" rel="external nofollow"><span>Awful</span> <span>Recruiters</span></a>
    </div>
  </div>

  <h3>Open Source Projects</h3>
  <ul class="list">
    <li><a href="https://github.com/soffes/quesadilla" rel="external nofollow">Quesadilla</a> &mdash; Entity-style text parsing</li>
    <li><a href="https://github.com/soffes/sonos" rel="external nofollow">Sonos</a> &mdash; Control Sonos speakers with Ruby</li>
    <li><a href="https://github.com/soffes/bully" rel="external nofollow">Bully</a> &mdash; A simple Objective-C client for Pusher</li>
    <li><a href="https://github.com/soffes/sstoolkit" rel="external nofollow">SSToolkit</a> &mdash; A collection of well-documented iOS classes for making life easier</li>
    <li><a href="https://github.com/soffes/ssdatakit" rel="external nofollow">SSDataKit</a> &mdash; Eliminate your Core Data bolierplate code</li>
    <li><a href="https://github.com/soffes/sspulltorefresh" rel="external nofollow">SSPullToRefresh</a> &mdash; Simple and highly customizable pull to refresh view</li>
    <li><a href="https://github.com/soffes/sskeychain" rel="external nofollow">SSKeychain</a> &mdash; Simple Objective-C wrapper for the keychain that works on Mac and iOS</li>
    <li><a href="https://github.com/soffes/ssziparchive" rel="external nofollow">SSZipArchive</a> &mdash; Utility class for zipping and unzipping files on iOS and Mac</li>
    <li><a href="https://github.com/soffes/SYPaginator" rel="external nofollow">SYPaginator</a> &mdash; Powerful paging scroll views, table view style</li>
    <li><a href="https://github.com/soffes/SYCache" rel="external nofollow">SYCache</a> &mdash; Fancy caching with on-disk persistence</li>
    <li><a href="https://github.com/soffes/json-benchmarks" rel="external nofollow">JSON Benchmarks</a> &mdash; Benchmarks of various JSON frameworks on iOS</li>
    <li><a href="https://github.com/soffes/ssoauthkit" rel="external nofollow">SSOAuthKit</a> &mdash; Handy iOS library for connecting to OAuth 1.0 providers and working with Twitter authentication</li>
    <li><a href="https://github.com/soffes/ssmessagesviewcontroller" rel="external nofollow">SSMessagesViewController</a> &mdash; iOS Messages.app style table view controller</li>
    <li><a href="https://github.com/soffes/sspersonviewcontroller" rel="external nofollow">SSPersonViewController</a> &mdash; Clone of Apple's ABPerson view controller allowing for better customization</li>
  </ul>
  <p>Check out the full list of my open source projects <a href="https://github.com/soffes" rel="external nofollow">on GitHub</a>.</p>
  <p><%= follow_button(size: 'large') %></p>
</section>
