<%- title "Talks by Sam." -%>
<%- stylesheet "talks" -%>

<section class="talks">
  <article>
    <header>
      <h2 id="native-apps">Native Apps Aren't Going Anywhere</h2>
    </header>
    <p>In this talk, I discussed the argued to death topic of native apps vs web apps. Spoiler: I'm a fan of native apps. I mainly mention that web apps will always behind when it comes to the APIs available and what is possible.</p>
    <p><strong><a href="http://vimeo.com/33264788">Watch Video &rarr;</a></strong></p>
    <script src="http://speakerdeck.com/embed/4edd12428a72e30698005927.js"></script>
  </article>

  <article>
    <header>
      <h2 id="testing-in-ios">Testing in iOS</h2>
    </header>
    <p>In this talk, I discussed how to test your iOS application in three different ways: unit testing, automated UI testing, and performance testing. Testing is pretty important. You should do it.</p>
    <p>I show some basic uses of <a href="https://github.com/gabriel/gh-unit">GHUnit</a> and several things in Instruments.</p>
    <script src="http://speakerdeck.com/embed/4edd12ac8a72e306c9001942.js"></script>
  </article>

  <article>
    <header>
      <h2 id="successful-iphone-apps">Successful iPhone Applications</h2>
    </header>
    <p>In this talk, I discussed all of the things that are important for making a successful iPhone application. A lot of this information I pulled from my experience working on <a href="http://youversion.com/iphone" rel="external nofollow">Bible</a> (an iPhone app used by over 3 million people world wide) and various client applications with <a href="http://tastefulworks.com">Tasteful Works</a>.</p>
    <p>I mentioned <a href="http://rememberthemilk.com" rel="external nofollow">Remember the Milk</a>'s unique model for making money, as well as <a href="http://www.pinchmedia.com/blog/appstore-secrets/">Pinch Media's AppStore Secrets blog post</a> regarding how much to charge for iPhone applications and various other things.</p>
    <script src="http://speakerdeck.com/embed/4edd12e68a72e306c9001ce8.js"></script>
  </article>

  <article>
    <header>
      <h2 id="universal-iphone-ipad-apps">Universal iPhone/iPad Apps</h2>
    </header>
    <p>In this talk, I covered how to create a universal iPad/iPhone applications. Most of the extra work in creating a universal application is due to the iPad and iPhone running different versions of iPhone OS. I covered how to gracefully support both versions of iPhone OS using various techniques as described in the iPad Programming Guide.</p>
    <p>I showed an example application that shows a view controller as a modal on the iPhone or a popover on the iPad. You can <a href="http://github.com/samsoffes/universal-ipad-iphone-example">download the example project's code</a> from <a href="http://github.com/samsoffes">my GitHub</a>.</p>
    <script src="http://speakerdeck.com/embed/4edd13078a72e306980066b1.js"></script>
  </article>

  <article>
    <header>
      <h2 id="reuse-your-code">Reuse Your Code with Static Libraries</h2>
    </header>
    <p>In this talk, I covered why reusing and keeping your code DRY is import. Apple's provided mechanism for this on the iPhone is static libraries. I went through the anatomy of a static library (and its friends). The talk ended with a demo showing how to setup an iPhone application and then abstract out a class into a static library. I also showed how to setup direct dependencies and everything else needed to get going reusing your code.</p>
    <p>This talk was based on <a href="http://samsoff.es/posts/screencast-reuse-code-across-iphone-applications-with-a-static-library-and-git">a screencast</a> I did awhile ago. You can get the <a href="http://github.com/samsoffes/iphone-library-test-app">test app code</a> and <a href="http://github.com/samsoffes/iphone-library-test-library">test library</a> on <a href="http://github.com/samsoffes">GitHub</a>.</p>
    <p>I talked a bit about the open source library that <strike>my company Tasteful Works is</strike> I am distributing, <strike>TWToolkit</strike> <a href="http://sstoolk.it">SSToolkit</a>. You can also get its <a href="http://github.com/samsoffes/sstoolkit">source code on GitHub</a>.</p>
    <script src="http://speakerdeck.com/embed/4edd13188a72e30698006827.js"></script>
  </article>
</section>
