// Sizing
$width: 640px;

// Fonts
$font-family: 'Whitney A', 'Whitney B';
$standard-weight: 400;
$bold-weight: 600;

// Colors
$link-color: #0881b3;
$highligh-color: #fffeca;
$code-background-color: #f8f8ff;
$code-border-color: #dedede;
$orange-color: #f05b35;
$gray-color: #676767;
$background-color: #f7f7f7;
$text-color: #222;
$red-color: #f6291d;

// Media Queries
$iphone-query: "all and (max-width: 480px)"; // Only width, not device width
$small-query: "all and (max-width: 660px)";
$retina-query: "only screen and (-webkit-min-device-pixel-ratio: 1.5), only screen and (-o-min-device-pixel-ratio: 3/2), only screen and (min--moz-device-pixel-ratio: 1.5), only screen and (min-device-pixel-ratio: 1.5)";
