<%- title 'Five Hundred.' -%>

<header>
  <h1>Five Hundred.</h1>
</header>

<section class="server-error">
  <p>Something has gone horribly wrong. Have no fear, I'm looking into it. <%= link_to 'Go home', root_url %>.</p>
</section>
