<h2>Four Twenty-Two</h2>
<p style="margin-bottom:4em">The change you wanted was rejected. Maybe you tried to change something you didn't have access to. It's okay, you probably still have friends.</p>
