<%- title "Tags" -%>

<h2><%= link_to 'Tags.', tags_url %></h2>

<section class="tags">
  <div class="tags clearfix">
  <% tag_cloud @tags, %w(nube1 nube2 nube3 nube4 nube5) do |tag, css_class| %>
    <%= link_to tag.name, tag, :class => css_class %>
  <% end %>
  </div>
</section>
