<%- title "Tag: #{@tag.name}" -%>

<h2><%= link_to "Tag: #{@tag.name}", @tag %></h2>

<section class="tag">
  <%- if @posts && @posts.length > 0 -%>
  <%= render @posts %>
  <div class="pagination">
      <%= will_paginate @posts %>
  </div>
  <%- else -%>
  <p>Nothing to see here. Move along.</p>
  <%- end -%>
</section>
