@import "components/instagram_button";

ul.apps {
  @include clearfix;
  margin: 2em auto;
  width: 100%;
  font-family: 'HelveticaNeue', Helvetica, sans-serif;
  font-size: 14px;

  @media #{$small-query} {
    width: 280px;
  }

  li {
    border-radius: 20px;
    float: left;
    display: block;
    width: 25%;
    height: 120px;
    margin-bottom: 2em;

    @media #{$small-query} {
      width: 50%;
    }
  }

  a {
    display: block;
    width: 100px;
    height: 120px;
    line-height: 0;
    margin: 0 auto;

    span {
      display: block;
      width: 100px;
      height: 10px;
      font-weight: 800;
      text-align: center;
      line-height: 1em;
      padding: 8px 0 0;
      color: #888;
    }

    &:hover {
      border: 0;
    }
  }

  img {
    @include box-sizing(border-box);
    border-radius: 20px;
    height: 100px;
    width: 100px;
    position: relative;
    z-index: -2;
    box-shadow: 0 0 3px rgba(0, 0, 0, 0.3), inset 0 0 2px rgba(0, 0, 0, 0.5), inset 0 1px 0 rgba(255, 255, 255, 0.25);
  }
}

article {
  margin-bottom: 2em;

  p, blockquote {
    display: inline;
    margin-right: 0.25em;
  }

  blockquote {
    color: $text-color;
    padding: 0;
    border: 0;
  }

  img, object {
    display: none;
  }
}

div.four-up {
  margin-bottom: 2em;

  @media #{$small-query} {
    width: 300px;
    height: 300px;
    margin: 0 auto 3em;
  }

  ul {
    width: 100%;
    height: 150px;
    text-align: justify;
    margin-bottom: 8px;
    font-size: 0.1px;
    line-height: 0;

    // Ensures there are at least 2 lines of text, so justification works
    &:after {
      content: '';
      width: 100%;
      display: inline-block;
    }

    @media #{$small-query} {
      height: 300px;
    }

    li {
      height: 150px;
      display: inline-block;
    }

    a:hover {
      border: 0;
    }

    img {
      width: 150px;
      height: 150px;
    }
  }

  p {
    font-size: 16px;
    line-height: 16px;

    a:first-child {
      position: relative;
      top: 2px;
      margin-right: 2px;

      &:hover {
        border-bottom: 1px solid transparent;
      }
    }
  }
}

div.rdio p a:first-child {
  background: url(/assets/rdio.png) no-repeat 0 2px;
  background-size: 16px 16px;
  width: 16px;
  height: 16px;
  display: inline-block;
}
