<header>
  <h1>Four oh Four.</h1>
</header>

<section  class="server-error">
  <p>Something has gone horribly wrong. What you're looking for simply doesn't exist. Close your eyes real tight and hold your breathe for about 29 minutes. It should be fixed by then. (If you cheat, this approach will not work.) <%= link_to 'Go home', root_url %>.</p>
</section>
