<%- title 'Twenty-Two' -%>

<header>
  <h1>Four Twenty-Two.</h1>
</header>

<section class="server-error">
  <p>The change you wanted was rejected. Maybe you tried to change something you didn't have access to. It's okay, you probably still have friends. <%= link_to 'Go home', root_url %>.</p>
</section>
