// Variables
$monaco: Monaco, Courier, monospace;
$link-color: #0881b3;
$highligh-color: #fffeca;
$code-background-color: #f8f8ff;
$code-border-color: #dedede;
$orange-color: #f05b35;
$gray-color: #676767;
$width: 640px;
$background-color: #f7f7f7;
$text-color: #222;
$red-color: #f6291d;

// Mix-ins
@mixin clearfix {
  display: inline-block;
  
  &:after {
    content: ".";
    display: block;
    clear: both;
    visibility: hidden;
    line-height: 0;
    height: 0;
  }
}

@mixin bordered-image {
  display: block;
  border: 5px solid #fff;
  @include single-box-shadow(rgba(0, 0, 0, 0.5), 0, 0, 3px);
  background: #fff no-repeat;
  
  &:hover {
    @include single-box-shadow(rgba(0, 0, 0, 1.0), 0, 0, 3px);
  }
}

@mixin font-face($name, $font-files, $eot: false, $font-weight: normal, $font-style: normal) {
  $iefont: unquote("#{$eot}?iefix");
  @font-face {
    font-family: quote($name);
    @if $eot {
      src: font-url($eot);
      $font-files: font-url($iefont) unquote("format('eot')"), $font-files;
    }
    src: $font-files;
    font-weight: $font-weight;
    font-style: $font-style;
  }
}
