.highlight {
  background: #fff;
  
  // Comment
  .c { 
    color: #998;
    font-style: italic;
  }
  
  // Error
  .err {
    color: #a61717;
    background-color: #e3d2d2;
  }
  
  // Keyword, Operator, Keyword.Constant, Keyword.Declaration, Keyword.Pseudo, Keyword.Reserved
  .k, .o, .kc, .kd, .kp, .kr {
    font-weight: bold;
  }
  
  // Comment.Multiline, Comment.Single
  .cm, .c1 {
    color: #998;
    font-style: italic;
  }
  
  // Comment.Preproc
  .cp {
    color: #999;
    font-weight: bold;
  }

  // Comment.Special
  .cs {
    color: #999;
    font-weight: bold;
    font-style: italic;
  }
  
  // Generic.Deleted
  .gd {
    color: #000;
    background-color: #fdd;
    
    // Generic.Deleted.Specific
    .x {
      color: #000;
      background-color: #faa;
    }
  }
  
  // Generic.Emph
  .ge {
    font-style: italic;
  }
  
  // Generic.Error, Generic.Traceback
  .gr, .gt {
    color: #a00;
  }
  
  // Generic.Heading, Name.Builtin.Pseudo
  .gh, .bp {
    color: #999;
  }
  
  // Generic.Inserted
  .gi {
    color: #000;
    background-color: #dfd;
    
    // Generic.Inserted.Specific
    .x {
      color: #000;
      background-color: #afa;
    }
  }
  
  // Generic.Output
  .go {
    color: #888;
  }
  
  // Generic.Prompt, Name.Namespace
  .gp, .nn {
    color: #555;
  }
  
  // Generic.Strong
  .gs {
    font-weight: bold;
  }
  
  // Generic.Subheading
  .gu {
    color: #aaa;
  }
  
  // Keyword.Type
  .kt {
    color: #458;
    font-weight: bold;
  }
  
  // Literal.Number
  .m {
    color: #099;
  }
  
  // Literal.String
  .s {
    color: #d14;
  }
  
  // Name.Builtin
  .nb {
    color: #0086b3;
  }
  
  // Name.Class
  .nc {
    color: #458;
    font-weight: bold;
  }
  
  // Name.Entity
  .ni {
    color: #800080;
  }
  
  // Name.Exception, Name.Function
  .ne, .nf {
    color: #900;
    font-weight: bold;
  }
  
  // Name.Tag
  .nt {
    color: #000080;
  }
  
  // Operator.Word
  .ow {
    font-weight: bold;
  }
  
  // Text.Whitespace
  .w {
    color: #bbb;
  }
  
  // Literal.Number.Float, Literal.Number.Hex, Literal.Number.Integer, Literal.Number.Oct,
  // Literal.Number.Integer.Long
  .mf, .mh, .mi, .mo, .il {
    color: #099;
  }
  
  // Literal.String.Backtick, Literal.String.Char, Literal.String.Doc, Literal.String.Double,
  // Literal.String.Escape, Literal.String.Heredoc, Literal.String.Interpol, Literal.String.Other
  .sb, .sc, .sd, .s2, .se, .sh, .si, .sx{
    color: #d14;
  }
  
  // Literal.String.Regex
  .sr {
    color: #009926;
  }
  
  // Literal.String.Single
  .s1 {
    color: #d14;
  }
  
  // Literal.String.Symbol
  .ss {
    color: #990073;
  }
  
  // Name.Attribute, Name.Constant, Name.Variable, Name.Variable.Class, Name.Variable.Global,
  // Name.Variable.Instance
  .na, .no, .nv, .vc, .vg, .vi {
    color: #008080;
  }
}
