<h2>Music</h2>

<div id="music">
	<div class="clear" style="margin-bottom:2em">
		<div id="music-art">
			<img src="http://assets.samsoffes.com/images/the-experiment.png" alt="The Experiment" />
		</div>
		<div id="music-about">
			<h3>Rough Tracks:</h3>
			<ol class="tracks">
				<li>Something I Found <span><a href="http://soundcloud.com/samsoffes/something-i-found">Listen</a></span></li>
				<li>Discover <span><a href="http://soundcloud.com/samsoffes/discover">Listen</a></span></li>
				<li>Years <span><a href="http://soundcloud.com/samsoffes/years">Listen</a></span></li>
				<li>To Wait A Lifetime Intro <span><a href="http://soundcloud.com/samsoffes/to-wait-a-lifetime-intro">Listen</a></span></li>
				<li>New Home <span><a href="http://soundcloud.com/samsoffes/new-home">Listen</a></span></li>
				<li>After The Rain <span><a href="http://soundcloud.com/samsoffes/after-the-rain-2">Listen</a></span></li>
			</ol>
			<ul class="links">
				<li><a class="podcast-link icon-link" href="http://phobos.apple.com/WebObjects/MZStore.woa/wa/viewPodcast?id=292395055" rel="external nofollow"><span>The Experiment Podcast</span></a></li>
				<li><a class="soundcloud-link icon-link" href="http://soundcloud.com/samsoffes" rel="external nofollow"><span>SoundCloud Profile</span></a></li>
			</ul>
		</div>
	</div>
	<h3 class="tracks">Unfinished Tracks:</h3>
	<ul class="tracks">
		<li>Something I Wish I Had <span><a href="http://soundcloud.com/samsoffes/something-i-wish-i-had">Listen</a></span></li>
		<li>Old Tickets <span><a href="http://soundcloud.com/samsoffes/old-tickets">Listen</a></span></li>
		<li>The Rain <span><a href="http://soundcloud.com/samsoffes/the-rain-2">Listen</a></span></li>
	</ul>
</div>
