<% title "Music" %>
<% javascript :jquery, 'music' %>

<div id="music" class="clear">
	<div id="music-art">
		<a class="album-art" href="http://phobos.apple.com/WebObjects/MZStore.woa/wa/viewPodcast?id=292395055" rel="external nofollow"><img src="http://assets.samsoffes.com/images/the-experiment.png" alt="The Experiment" /></a>
		<div>
		  <p>This is a collection of my music. It's an experiment because I didn't think people would actually want to listen to it. I write it for myself to express my feelings.</p>
		  <p>You can subscribe to <a href="http://phobos.apple.com/WebObjects/MZStore.woa/wa/viewPodcast?id=292395055" rel="external nofollow">The Experiment podcast</a> or check out my <a href="http://soundcloud.com/samsoffes" rel="external nofollow">SoundCloud profile</a>.</p>
    </div>
	</div>
	<div id="music-about">
		<h3>Rough Tracks</h3>
		<ol class="tracks">
			<li>Something I Found <a href="http://soundcloud.com/samsoffes/something-i-found">Listen</a></li>
			<li>Discover <a href="http://soundcloud.com/samsoffes/discover">Listen</a></li>
			<li>Years <a href="http://soundcloud.com/samsoffes/years">Listen</a></li>
			<li>To Wait A Lifetime Intro <a href="http://soundcloud.com/samsoffes/to-wait-a-lifetime-intro">Listen</a></li>
			<li>New Home <a href="http://soundcloud.com/samsoffes/new-home">Listen</a></li>
			<li>After The Rain <a href="http://soundcloud.com/samsoffes/after-the-rain-2">Listen</a></li>
		</ol>
		<h3>Unfinished Tracks</h3>
  	<ul class="tracks">
  		<li>Something I Wish I Had <a href="http://soundcloud.com/samsoffes/something-i-wish-i-had">Listen</a></li>
  		<li>Old Tickets <a href="http://soundcloud.com/samsoffes/old-tickets">Listen</a></li>
  		<li>The Rain <a href="http://soundcloud.com/samsoffes/the-rain-2">Listen</a></li>
  	</ul>
	</div>
</div>
