<% div_for post, :class => "post" do %>
  <div class="title clear">
    <h2><%= link_to h(post.title), post_slug_url(post.slug) %></h2>
    <p class="meta"><%= link_to "Posted #{time_ago_in_words(post.created_at)} ago", post_slug_url(post.slug) %></p>
  </div>
	<div class="content">
		<%= markdown post.content %>
	</div>
<% end %>
