<% div_for post do %>
	<h2><%= link_to h(post.title), post_slug_url(post.slug) %></h2>
	<p class="meta">Posted <%= time_ago_in_words(post.created_at) %> ago</p>
	<div class="content">
		<%= markdown post.body %>
	</div>
<% end %>
