<% div_for post do %>
  <div class="title clear">
    <h2><%= link_to h(post.title), post_slug_url(post.slug) %></h2>
    <p class="meta">Posted <%= time_ago_in_words(post.created_at) %> ago</p>
  </div>
	<div class="content">
		<%= markdown post.content %>
	</div>
<% end %>
