<% title "Blog" %>

<%- if @posts && @posts.length > 0 -%>
<ol>
<%- for post in @posts -%>
  <li class="post"><%= render :partial => @posts %></li>
<%- end -%>
</ol>
<%- else -%>
<p>Nothing to see here. Move along.</p>
<%- end -%>
