<%- if @post -%>
<%- title @post.title -%>
<section class="blog">
  <%= render @post %>
  <div class="social">
    <%= tweet_button :url => post_url(@post, :host => 'samsoff.es'), :text => (@post.tweet_text or @post.title) %>
    <%= like_button post_url(@post) %>
  </div>
</section>
<%- else -%>
<%- title 'Post not found' -%>
<p>Nothing to see here. Move along.</p>
<%- end -%>
