<%- title (@post ? @post.title : "Post Not Found") -%>

<%- if @post -%>
<%= render @post %>
<div class="social">
    <%= tweet_button :url => @post.short_url, :text => (@post.tweet_text or Post::DEFAULT_TWEET_TEXT) %>
    <%= like_button post_url(@post) %>
<%- else -%>
<p>Nothing to see here. Move along.</p>
<%- end -%>
