<%- title (@post ? @post.title : "Post Not Found") -%>

<%- if @post -%>
<%= render @post %>
<div class="social">
    <%= tweet_button :url => post_url(@post, :host => 'samsoff.es'), :text => (@post.tweet_text or @post.title) %>
    <%= like_button post_url(@post) %>
<%- else -%>
<p>Nothing to see here. Move along.</p>
<%- end -%>
