<h1>About</h1>

<h3>Where I Work</h3>
<p>I am a developer at an amazing church called <a href="http://lifechurch.tv" rel="external nofollow">LifeChurch.tv</a>. I write <a href="http://youversion.com/iphone" rel="external nofollow">iPhone</a> and web software. Recently I&#8217;ve been working on an iPhone application called <a href="http://phobos.apple.com/WebObjects/MZStore.woa/wa/viewSoftware?id=282935706&#038;mt=8" rel="external nofollow">Bible</a>. It combines the power of <a href="http://youversion.com" rel="external nofollow">YouVersion.com</a> with the iPhone OS to make a pretty sweet app.</p>

<p>I also run a small Mac software company called <a href="http://trimonix.com" rel="external nofollow">Trimonix</a>. We have a little app that makes creating countdown videos super easy called <a href="http://trimonix.com/countdown-maker" rel="external nofollow">Countdown Maker</a>. Check it out if you get a minute.</p>

<h3>Stuff I Like</h3>
<p>I really enjoy making things, notably <a href="http://trimonix.com" rel="external nofollow">software</a> and <a href="http://dev.samsoff.es/music">music</a>. I play drums in this awesome band called <a href="http://myspace.com/hollowrock" rel="external nofollow">Hollow</a>. It&#8217;s a lot of fun. I&#8217;m also a <em>huge Apple fan</em> and really enjoy writing Mac/iPhone software. Quartz Composer is a piece of Apple technology that I am particularly fond of.</p>

<h3>More</h3>
<p>You can read more about me and see my contact information at <a href="http://iturndreamsintosoftware.com/">http://iturndreamsintosoftware.com</a>.</p>
