<h3>Contact</h3>
<p>What kind of person with a blog would I be without a plethera of social media icons? I’ve arranged them by how active I am on each thing (most active on the left). Why don’t you me a kind stalker and friend me on all of them? That’s what your’re supposed to do with all of these icons right?</p>

<ul class="social-media">
  <li><a href="http://twitter.com/samsoffes" class="twitter">Twitter</a></li>
  <li><%= mail_to "sam@samsoff.es", "Email", :encode => "hex", :class => "email" %></li>
  <li><a href="http://last.fm/user/samsoffes" class="lastfm">Last.fm</a></li>
  <li><a href="http://facebook.com/samsoffes" class="facebook">Facebook</a></li>
  <li><a href="http://delicious.com/samsoffes" class="delicious">Delicious</a></li>
  <li><%= link_to "RSS", rss_url, :class => "feed" %></li>
  <li><a href="http://vimeo.com/samsoffes" class="vimeo">Vimeo</a></li>
  <li><a href="http://flickr.com/photos/samsoffes" class="flickr">Flickr</a></li>
  <li><a href="http://google.com/profiles/samsoffes" class="google">Google</a></li>
  <li><a href="http://youtube.com/samsoffes" class="youtube">YouTube</a></li>
  <li><a href="http://www.linkedin.com/in/samsoffes" class="linkedin">LinkedIn</a></li>
</ul>

<p>Seriously though, just <%= mail_to "sam@samsoff.es", "email me", :encode => "hex" %>. You can call my cell at <a href="tel://415-935-3653">415-935-3653</a> (if you dare).</p>

<p>Also checkout <a href="http://iturndreamsintosoftware.com">my digital business card</a>.</p>
