@import "partials/shared";

input, textarea {
  color: $text-color;
  font-family: $monaco;
  font-size: 14px;
  line-height: 1.5em;
}

div.admin {
  background: #f7f7f7;
  padding: 0.75em;
  margin-bottom: 2em;
  border-bottom: 1px solid #ddd;
  
  p:last-child {
    margin-bottom: 0;
  }
}

