@import "compass/css3";

$iphone-width: 320px;
$iphone-content-width: 300px;
$iphone-media-width: 300px;

html {
  -webkit-text-size-adjust: none;
}

// Layout
html, body {
  width: $iphone-width;
}

body {
  padding: 1em 10px;
}

body, input, textarea {
  font-size: 16px;
  line-height: 1.6em;
}

body > header, body > section, body > footer {
  width: $iphone-content-width;
}

body > header {
  margin: 1em auto 2em;
}

// Tags
h2 {
  font-size: 20px;
}

// Music
ul.tracks li span {
  display: none;
}

// Blog
section > article {
  overflow: hidden;
  margin-bottom: 3em;
  
  img {
    width: $iphone-content-width;
  }
  
  object, embed {
    display: none;
  }
  
  div.video {
    @include single-box-shadow(rgba(0, 0, 0, 0.7), 0, 0, 4px);
  }
  
  div.video, div.video.vimeo iframe {
    width: $iphone-media-width;
    height: 195px;
  }
  
  div.video.wide.youtube, div.video.wide.vimeo, div.video.vimeo.wide iframe {
    height: 146px;
  } 
}

div.social {
  padding-left: 60px;
  width: 220px;
  
  iframe#facebook-like-button {
    width: 80px;
  }
}

div.pagination {
  line-height: 2em;
}

div.pagination a, div.pagination span.gap {
  display: none;
  margin: 0;
}

div.pagination a.next_page, div.pagination a.previous_page {
  display: inline;
}

section.home {
  article {
    padding-left: 1em;
  }
  
  ul.movies {
    text-align: center;
    margin-bottom: 0;
    
    li {
      margin: 0 10px 0.5em 0;
    }
    
    li:nth-child(even) {
      margin: 0 0 1em;
    }
  }
  
  a.fc-art, a.fc-art img {
    width: 150px;
    height: 150px;
  }
  
  a.grape-map {
    background-image: url(http://maps.google.com/maps/api/staticmap?center=32.82385,-96.770239&zoom=14&size=290x123&maptype=roadmap&markers=color:green%7C32.82385,-96.770239&sensor=false);
    width: 290px;
  }
}
