@import "globals/*";

section.projects {
  padding-top: 1em;
  
  ul {
    margin: 0 0 2em 0.5em;

    li {
      margin: 0 0 0.25em 1em;
      list-style: disc;
    }
  }
  
  p {
    text-align: center;
  }
}

div.row {
  @include clearfix;
  
  > div {
    @include box-shadow(rgba(0, 0, 0, 0.5) 0 0 3px);
    width: 300px;
    height: 200px;
    margin: 0 0 2em;

    &:first-child {
      float: left;
    }

    &:last-child {
      float: right;
    }
  }
  
  @media #{$small-query} {
    margin-bottom: 1em;

    > div {
      float: none !important;
      margin: 0 auto 2em;
    }
  }
}

div.row-wide {
  @include box-shadow(rgba(0, 0, 0, 0.5) 0 0 3px);
  width: 100%;
  height: 200px;
  margin: 0 auto 40px;
  position: relative;
  
  a.title {
    @include hide-text;
    display: block;
    width: 300px;
    height: 200px;
    border: 0;
  }
  
  @media #{$small-query} {
    margin-bottom: 1em;
    width: 300px;
  }
  
  a.screenshot {
    @include hide-text;
    position: absolute;
    bottom: 0;
    right: 0;
    padding: 0;
    width: 340px;
    height: 200px;
    border: 0;
    
    @media #{$small-query} {
      display: none;
    }
  }
}

// Cheddar
div#project-cheddar {
  background: #ff7243;
  
  a.title {
    background: url(http://assets.samsoff.es/projects/cheddar-title.png) no-repeat 50% 50%;
    background-size: 221px 72px;
  
    @media #{$retina-query} {
      background-image: url(http://assets.samsoff.es/projects/cheddar-title@2x.png);
    }
  }
  
  a.screenshot {
    background: url(http://assets.samsoff.es/projects/cheddar-screenshot.png) no-repeat 25px 1px;
    background-size: 299px 199px;

    @media #{$retina-query} {
      background-image: url(http://assets.samsoff.es/projects/cheddar-screenshot@2x.png);
    }
  }
}

// Shares
div#project-shares {
  background: #1d1d1d;
  
  a.title {
    background: url(http://assets.samsoff.es/projects/shares-title.png) no-repeat 50% 56%;
    background-size: 186px 90px;
  
    @media #{$retina-query} {
      background-image: url(http://assets.samsoff.es/projects/shares-title@2x.png);
    }
  }
  
  a.screenshot {
    background: url(http://assets.samsoff.es/projects/shares-icon.png) no-repeat 40px 26px;
    background-size: 258px 174px;

    @media #{$retina-query} {
      background-image: url(http://assets.samsoff.es/projects/shares-icon@2x.png);
    }
  }
}

// SSToolkit
div#project-sstoolkit {
  a {
    @include hide-text;
    display: block;
    width: 300px;
    height: 200px;
    background: url(http://assets.samsoff.es/projects/sstoolkit.png) no-repeat;
    background-size: 300px 200px;
    border: 0;

    @media #{$retina-query} {
      background-image: url(http://assets.samsoff.es/projects/sstoolkit@2x.png);
    }
  }
}

// Nothing Magical
div#project-nothing-magical a {
  @include hide-text;
  display: block;
  width: 300px;
  height: 200px;
  background: url(http://assets.samsoff.es/projects/nothing-magical.png) no-repeat;
  background-size: 300px 200px;
  border: 0;

  @media #{$retina-query} {
    background-image: url(http://assets.samsoff.es/projects/nothing-magical@2x.png);
  }
}

// Awful Recruiters
div#project-awful-recruiters a {
  @include box-sizing(border-box);
  display: block;
  width: 300px;
  height: 200px;
  font-size: 52px;
  font-weight: bold;
  color: #000;
  background: #fcfcfc;
  padding: 45px 20px 0;
  border: 0;
  
  span {
    display: block;
    line-height: 52px;
  }
}

// Markdownr
div#project-markdownr {
  a {
    @include hide-text;
    display: block;
    width: 300px;
    height: 200px;
    background: url(http://assets.samsoff.es/projects/markdownr.png) no-repeat;
    background-size: 300px 200px;
    border: 0;

    @media #{$retina-query} {
      background-image: url(http://assets.samsoff.es/projects/markdownr@2x.png);
    }
  }
}
