<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
<meta http-equiv="Content-Type" content="text/html;charset=UTF-8" />
<title>samsoff.es - Music</title>
<%= stylesheet_link_tag 'style' %>
</head>
<body>
<div id="wrapper">
	<div id="header" class="clear">
		<p><a href="http://samsoff.es/">&#171; home</a></p>
		<ul class="clear">
			<li><a href="http://samsoff.es/">Blog</a></li>
			<li><a href="http://samsoff.es/music">Music</a></li>
			<li><a href="http://samsoff.es/about">About</a></li>
		</ul>
	</div>
	<%= yield %>
</div>
<div id="footer">
	<p>Copyright <a href="http://samsoff.es/">Sam Soffes</a> 2005-2009. <a href="http://github.com/samsoffes/samsoff.es/">View source on GitHub</a>.</p>
</div>
</body>
</html>
